// Variables
$white = #fff
$gray0 = #f8f8f8
$gray1 = #f0f0f0
$gray2 = #e8e8e8
$gray3 = #d8d8d8
$gray4 = #c8c8c8
$gray5 = #b8b8b8
$gray6 = #a8a8a8
$gray7 = #999
$gray8 = #888
$gray9 = #777
$gray10 = #666
$gray11 = #555
$gray12 = #444
$gray13 = #333
$black = #222

$green-dark = #308d58
$green = #4ca879
$green-light = #5cd17d
$green-lightest = #defce5

$red-dark = #960d0d
$red = #f21818
$red-light = #ff5b5b
$red-lightest = #fce5e5

$blue-dark = #125c9e
$blue = #0074D9
$blue-light = #309eff
$blue-lightest = #d6ebff

$orange-dark = #a0500b
$orange = #FF851B
$orange-light = #ffad66
$orange-lightest = #ffe5ce

$aqua-dark = #0e85b5
$aqua = #219fd1
$aqua-light = #51c8f7
$aqua-lightest = #7FDBFF

$yellow-dark = #998507
$yellow = #c1a90d
$yellow-light = #e0c82a
$yellow-lightest = #fffadd

$twitter = #1DA1F2
$facebook = #3B5998
$weibo = #df2029
$instagram = #8a3ab9

$max-width = 700px
$transition-time = 0.15s


// Default overrides
*
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  box-sizing: border-box

html
  font-size: 16px
  font-weight: 300
  color: $black
  font-family: "Oxygen", Helvetica, arial, sans-serif
  background-color: $gray0
  overflow-y: scroll

body
  line-height: 1.4
  overflow: hidden

.action
  color: $aqua-light
  font-weight: 500
  text-shadow: 1px 1px 0 $white
  cursor: pointer
  transition: color $transition-time
  &:hover
    color: $aqua
  &.active
    color: $aqua-dark

.placeholder
  color: $gray5
  font-style: italic

// Main grid container
.container
  position: relative
  min-width: 320px
  max-width: $max-width
  padding 0 1rem
  width: 100%
  min-height: 100vh
  height: 100%
  margin: 0 auto
  display: flex
  flex-direction: column


// Navigation
.navigation
  padding: 0.75rem 1rem
  height: 3rem
  display: flex
  font-size: 0.8rem
  a
    text-decoration: none
  a:not(:first-of-type)
    margin-left: 1rem

.route
  height: 1.1rem
  &.active
    font-weight: 600
    border-bottom: 1px $aqua-dark solid


// About, Comments, Stats
.about
.comments
.stats
  padding: 1rem
  flex-grow: 1

.about
  p
    text-indent: 1rem
    margin: 0
  .sources
    a:not(:last-of-type)
      margin-right: -0.2rem


// Stats
.stats
  max-width: calc(100vw - 2rem)
  overflow: hidden

.stats div[id^="chart-"]
  margin-bottom: 2rem

.chart-title
  text-align: center
  font-size: 0.8rem
  margin-bottom: 1rem
  font-style: italic
  color: $gray5
  font-weight: 500
  text-shadow: 1px 1px 0 $white

.hero-chart
  margin-bottom: 2rem
  > div
    &:not(:last-of-type)
      margin-bottom: 0.5rem
      border-bottom: 1px $gray2 dashed
    &:first-of-type
      .match-hero
        width: 5rem
        height: 2.8rem
    &:nth-of-type(2)
      .match-hero
        width: 4.2rem
        height: 2.4rem

.hero-row
  display: flex

.hero-count
  width: 3rem
  flex-shrink: 0
  text-align: center
  align-self: center
  font-size: 0.8rem
  color: $gray11
  margin-top: -0.3rem

.hero-images
  flex-grow: 1
  .match-hero
    display: inline-block
    position: relative
    opacity: 0.85
    transition: opacity $transition-time
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
      0 1px 1px rgba(0, 0, 0, .14),
      0 2px 1px -1px rgba(0, 0, 0, .12)
    &:before
      content: ""
      background-color: $black
      position: absolute
      bottom: 105%
      left: 5%
      width: 0.5rem
      height: 0.5rem
      transform: rotateZ(45deg)
      pointer-events: none
      opacity: 0
      z-index: 1
    &:after
      position: absolute
      left: -10%
      bottom: 110%
      font-size: 0.6rem
      font-weight: 600
      border-radius: 2px
      content: attr(data-hero) "\A" attr(data-players)
      white-space: pre
      opacity: 0
      pointer-events: none
      background: $black
      color: $white
      padding: 0.2rem 0.5rem
      z-index: 2
    &:hover
      opacity: 1
      &:before
      &:after
        opacity: 1

// Footer
.footnote
  font-size: 0.8rem
  display: flex
  flex-direction: column
  height: 5rem
  margin-top: 1.5rem
  position: relative
  a
    margin-left: 0.2rem
    text-decoration: none

.share
  display: flex
  align-items: center
  justify-content: center
  .fb-like
    margin-right: 4px

.links
  display: flex
  justify-content: center
  align-items: center
  margin-top: 0.75rem
  a:not(:last-of-type)
    margin-right: 1rem

// Filters
.filters
  background-color: $gray1
  padding: 1rem 101rem
  margin: 0 -100rem

.filter-header  
  display: flex

.filter-toggle
  flex-shrink: 0
  width: 4rem
  span
    margin-left: 0.2rem

.filter-preview
  flex-grow: 1
  padding: 0 1rem
  display: flex
  justify-content: center
  align-items: center
  div:not(:first-of-type)
    margin-left: 0.4rem
  .username
    font-size: 0.8rem
    max-width: 10rem
    overflow: hidden
    text-overflow: ellipsis
    position: relative
    padding-right: 4px
    &:before
    &:after
      content: '"'
    &:after
      position: absolute
      right: 0
      top: 0
  .region
  .role
    margin: 0

.filter-reset
  font-size: 0.8rem
  padding: 0 0.5rem
  border: 1px $aqua-light dashed
  flex-shrink: 0
  display: flex
  flex-direction: row-reverse
  align-items: center

.filter-types
  font-size: 0.8rem
  margin-top: 0.5rem

.input-filters
  width: 66%
  display: inline-block

.sort-filters
  display: inline-flex
  flex-direction: column
  padding-left: 2rem
  vertical-align: top
  width: 33%
  .filter-option
    input[type="radio"]
      margin-right: 0.3rem

.filter-option
  display: flex
  align-items: center
  min-height: 2rem

.filter-label
  flex-shrink: 0
  margin-right: 0.8rem
  width: 3.5rem
  text-align: right
  color: $gray5

.filter-input
  flex-grow: 1
  position: relative
  input
    width: 100%
    border: 1px $gray2 solid
    border-radius: 2px
    height: 1.8rem
    font-size: 0.8rem
    padding: 0 1.5rem 0 0.5rem
    &:active
    &:focus
      outline: none
    &:focus
      border-color: $gray4

.filter-input-clear
  position: absolute
  right: 0.5rem
  top: 0
  line-height: 1.8rem


// Result player tiles
.results
  margin-top: 1rem
  flex-grow: 1
  max-width: calc(100vw - 2rem)

.player-list
.results
.stats
  & > .placeholder
    text-align: center
    letter-spacing: -0.5px
    padding: 0 1rem
    margin-bottom: 1.25rem
    text-shadow: 1px 1px 0 $white
    &:before
      content: "［ "
    &:after
      content: " ］"

.player-tile
  background-color: $white
  margin-bottom: 0.75rem
  margin-left: 2.5rem
  padding: 0.5rem 1rem
  position: relative
  transition: border-color $transition-time
  display: flex
  flex-direction: column
  cursor: pointer
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .14),
    0 2px 1px -1px rgba(0, 0, 0, .12)
  &:before
    content: ""
    position: absolute
    width: 2.5rem
    height: 5rem
    left: -2.5rem
    top: 0
  &:hover
  &.active
    .player-image
      opacity: 0.95
    .player-rank
      background-color: $gray1
      color: $gray10
      text-shadow: 1px 1px 0 $gray2
      box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), inset -0.5rem 0px 0.5rem -0.5rem rgba(0,0, 0, 0.25)
    .social
      opacity: 1
  &.not-verified
    background: repeating-linear-gradient(
      -45deg,
      $gray0,
      $gray0 10px,
      $white 10px,
      $white 20px
    )
    .date
      color: $gray8
    .verification:before
      content: "\f444"
      color: $gray8
      font-weight: 600
      font-size: 1.5rem
      line-height: 1.5rem

.player-info
  display: flex

.player-sources
  display: flex
  flex-direction: column
  margin-top: 0.5rem
  padding-top: 0.5rem
  border-top: 1px $gray1 dotted

.source-row
  display: flex
  margin-bottom: 0.5rem
  overflow: hidden
  width: 100%

.source-type
  width: 4rem
  flex-shrink: 0
  font-size: 0.8rem
  line-height: 2rem
  font-style: italic
  display: flex
  justify-content: flex-end
  color: $gray5

.source-details
  flex-grow: 1
  word-break: break-all
  display: flex
  margin-left: 0.8rem
  align-items: center
  font-size: 0.8rem
  max-width: 500px
  overflow: hidden
  blockquote
    margin: 0
  &.reddit
    .embedly-card-hug
      margin: -2px !important
      background: $white
  &.imgur
    img
      width: 100%
  &.twitter
    .twitter-tweet
      margin: 0 !important

.match-hero
  width: 3.5rem
  height: 2rem
  margin-right: 1rem
  img
    width: 100%
    height: 100%
    backface-visibility: hidden

.match-link
  margin-right: 1rem

.player-age
  flex-grow: 1
  text-align: right
  font-style: italic
  padding-right: 2px
  color: $orange-dark

.player-rank
  width: 2.5rem
  background-color: $gray0
  text-align: center
  flex-shrink: 0
  padding: 0.5rem 0
  position: absolute
  left: -2.5rem
  top: 0
  height: 5rem
  line-height: 2.5rem
  font-size: 1.2rem
  font-weight: 600
  color: $gray7
  text-shadow: 1px 1px 0 $gray1
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), inset -0.5rem 0px 0.5rem -0.5rem rgba(0,0, 0, 0.15)
  transition: all $transition-time
  z-index: -1

.player-image
  flex-shrink: 0
  background-color: $gray0
  opacity: 0.8
  margin-right: 0.8rem
  transition: opacity $transition-time
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .14),
    0 2px 1px -1px rgba(0, 0, 0, .12)
  img
    width: 64px
    height: 64px
    vertical-align: top

.player-details
  flex-grow: 1
  margin-top: -0.2rem
  margin-bottom: 0.2rem

.player-profile
  display: flex
  .name
    font-size: 2rem
    font-weight: 500
    letter-spacing: -1px
  .aliases
    margin-left: 0.5rem
    font-size: 0.8rem
    align-self: center
    &:before
      content: "（"
    &:after
      content: "）"
    span:not(:last-of-type)
      margin-right: 0.2rem
      &:after
        content: ","
    .alias
      font-weight: 400
      color: $gray8

.player-metadata
  display: flex
  align-items: center
  height: 1.25rem

.region
.role
.misc
  border: 1px solid
  padding: 0 3px
  border-radius: 2px
  font-size: 0.75rem
  font-weight: 600
  letter-spacing: 1px
  margin: 0.2rem 0.4rem 0.2rem 0
  display: inline-block
  background: $white
  text-transform: uppercase
  box-shadow: 1px 1px 0 $black
  transition: background-color $transition-time
  &.has-hover
    cursor: pointer

tag-color(color-dark, color, color-light, color-lightest)
  border-color color
  color: color-light
  box-shadow: 1px 1px 0 color-dark
  &.active
    color: $white
    background-color: color-light
    border-color: color-dark
  &.has-hover
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
      0 1px 1px rgba(0, 0, 0, .14),
      0 2px 1px -1px rgba(0, 0, 0, .12),
      1px 1px 0 color-dark
    &:not(.active):hover
      background-color: color-lightest
    &.active:hover
      background-color: color

.region
  tag-color($green-dark, $green, $green-light, $green-lightest)

.role
  tag-color($blue-dark, $blue, $blue-light, $blue-lightest)

.misc
  tag-color($yellow-dark, $yellow, $yellow-light, $yellow-lightest)
  &.ti-winner:before
    font-family: "Ionicons"
    content: "\f356"
    margin-right: 0.2rem
    font-size: 0.7rem

.date
  text-align: right
  font-size: 0.8rem
  font-weight: 400
  font-style: italic
  color: $orange-light
  padding-right: 1px
  flex-grow: 1

.verification
  flex-shrink: 0
  margin-left: 0.5rem
  margin-right: -0.1rem
  width: 0.8rem
  text-align: center
  &:before
    font-family: "Ionicons"
    content: "\f3fd"
    color: $green-light
    font-size: 2rem
    line-height: 2rem

.social
  display: flex
  flex-grow: 1
  justify-content: flex-end
  align-self: center
  margin-left: 0.5rem
  margin-right: -0.3rem
  opacity: 0.08
  transition: opacity $transition-time
  a
    cursor: pointer
    width: 1.25rem
    height: 1.25rem
    display: inline-block
    margin-left: 0.2rem
    background-position: center
    background-repeat: no-repeat
    opacity: 0.85
    transition: all $transition-time
    &:hover
      opacity: 1
      transform: scale(1.15)
    &.dotabuff
      background-image: url("/static/images/9kmmr/social/dotabuff.png")
      backface-visibility: hidden
      background-size: 1rem
    &.opendota
      background-image: url("/static/images/9kmmr/social/opendota.png")
      backface-visibility: hidden
      background-size: 1.1rem
    &.liquipedia
      background-image: url("/static/images/9kmmr/social/liquipedia.png")
      backface-visibility: hidden
      background-size: 1.25rem
      margin-right: 0.1rem
    &.instagram
      background-image: url("/static/images/9kmmr/social/instagram.png")
      backface-visibility: hidden
      background-size: 1rem
    &.twitch
      background-image: url("/static/images/9kmmr/social/twitch.png")
      backface-visibility: hidden
      background-size: 0.9rem
    &.weibo
      background-image: url("/static/images/9kmmr/social/weibo.png")
      backface-visibility: hidden
      background-size: 1.4rem
      margin-left: 0.4rem
      margin-top: -0.05rem
    &.twitter
    &.facebook
      text-decoration: none
      text-align: center
      line-height: 1.3rem
      &:before
        font-family: "Ionicons"
    &.twitter
      color: $twitter
      margin-left: 0.3rem
      &:before
        content: "\f243"
    &.facebook
      color: $facebook
      font-size: 1.2rem
      margin-left: 0
      margin-right: -0.2rem
      &:before
        content: "\f231"


// Responsive tweaks
@media screen and (max-width: $max-width + 30px)
  html
    font-size: 14px
  .player-image img
    width: 56px
    height: 56px
  .input-filters
    width: 100%
  .sort-filters
    width: 100%
    padding-left: 4.85rem
    display: flex
    flex-direction: row
    div:not(:last-of-type)
      margin-right: 1.5rem

@media screen and (max-width: 659px)
  .player-age
    padding-right: 1.4rem

@media screen and (max-width: 550px)
  .filter-preview .username
    max-width: 5rem

@media screen and (max-width: 500px)
  .player-profile .social
    display: none

@media screen and (max-width: 450px)
  html
    font-size: 12px
  .player-tile .index
    top: 1.25rem
    left: -2rem
    text-align: center
  .player-image img
    width: 48px
    height: 48px

@media screen and (max-width: 350px)
  .player-metadata .misc.ti-winner
    display: none

@supports (display: grid)
  .container
    display: grid
    grid-template-areas: "navigation"\
      "filters"\
      "results"\
      "footnote"
    grid-template-rows: 3rem auto 1fr 6.5rem
  .navigation
    grid-area: navigation
  .filters
    grid-area: filters
  .about
  .comments
  .stats
    grid-area: filters / filters / results / results
  .results
    grid-area: results
  .footnote
    grid-area: footnote
  .filter-types
    display: grid
    grid-template-areas: "one two"\
      "three four"
    grid-template-columns: 2fr 1fr
    grid-template-rows: auto 0
    grid-column-gap: 1rem
  .input-filters
    grid-area: one / one / three / three
    width: auto
    display: block
  .sort-filters
    grid-area: two / two / four / four
    width: auto
  @media screen and (max-width: $max-width + 30px)
    .filter-types
      grid-template-rows: auto auto
    .input-filters
      grid-area: one / one / two / two
    .sort-filters
      grid-area: three / three / four / four
