// Variables
$white = #fff
$gray0 = #f8f8f8
$gray1 = #f0f0f0
$gray2 = #e8e8e8
$gray3 = #d8d8d8
$gray4 = #c8c8c8
$gray5 = #b8b8b8
$gray6 = #a8a8a8
$gray7 = #999
$gray8 = #888
$gray9 = #777
$gray10 = #666
$gray11 = #555
$gray12 = #444
$gray13 = #333
$black = #222

$green = #4ca879
$green-dark = #308d58
$green-light = #5cd17d
$green-lightest = #defce5

$red = #ff2b2b
$red-dark = #ce1e1e
$red-light = #ff5b5b

$blue = #0074D9
$blue-light = #309eff
$blue-dark = #125c9e
$blue-lightest = #d6ebff

$orange = #FF851B
$orange-light = #ffad66

$aqua = #51c8f7
$aqua-light = #7FDBFF
$aqua-dark = #0e85b5

$twitter = #00aced
$facebook = #3b579d

$max-width = 700px
$transition-time = 0.15s


// Default overrides
*
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  box-sizing: border-box

html
  font-size: 16px
  font-weight: 300
  color: $black
  font-family: "Oxygen", Helvetica, arial, sans-serif
  background-color: $gray0
  overflow-y: scroll

body
  line-height: 1.4
  overflow: hidden

a
  text-decoration: none

.action
  color: $aqua-light
  font-weight: 500
  cursor: pointer
  &:hover
    color: $aqua
  &.active
    color: $aqua-dark

.placeholder
  color: $gray5
  font-style: italic
  text-align: center
  letter-spacing: -0.5px
  padding: 0 1rem
  margin-bottom: 1.25rem
  &:before
    content: "［ "
  &:after
    content: " ］"

// Main grid container
.container
  min-width: 320px
  max-width: $max-width
  padding 0 1rem
  width: 100%
  min-height: 100vh
  height: 100%
  margin: 0 auto
  display: flex
  flex-direction: column
  display: grid
  grid-template-areas: "navigation"\
    "filters"\
    "results"\
    "footnote"
  grid-template-rows: 3rem auto 1fr 3rem


// Navigation
.navigation
  grid-area: navigation
  padding: 0.75rem 1rem
  height: 3rem
  display: flex
  font-size: 0.8rem
  a:not(:first-of-type)
    margin-left: 1rem

.route
  height: 1.1rem
  &.active
    font-weight: 600
    border-bottom: 1px $aqua-dark solid


// About, Comments
.about
.comments
  padding: 0.75rem 1rem
  grid-area: filters / filters / results / results
  flex-grow: 1

.about
  p
    text-indent: 1rem
    margin: 0

// Footer
.footnote
  grid-area: footnote
  font-size: 0.8rem
  display: flex
  justify-content: center
  align-items: center
  height: 3rem
  a
    margin-left: 0.2rem
    text-decoration: none


// Filters
.filters
  grid-area: filters
  background-color: $gray1
  padding: 0.75rem 101rem
  margin: 0 -100rem

.filter-header  
  display: flex

.filter-toggle
  flex-shrink: 0
  width: 4rem
  cursor: pointer
  span
    margin-left: 0.2rem

.filter-preview
  flex-grow: 1
  padding: 0 1rem
  display: flex
  justify-content: center
  align-items: center
  div:not(:first-of-type)
    margin-left: 0.4rem
  .username
    font-size: 0.8rem
    max-width: 10rem
    overflow: hidden
    text-overflow: ellipsis
    position: relative
    padding-right: 4px
    &:before
    &:after
      content: '"'
    &:after
      position: absolute
      right: 0
      top: 0
  .region
  .role
    margin: 0

.filter-reset
  margin-top: -0.1rem
  font-size: 0.8rem
  width: 4rem
  flex-shrink: 0
  display: flex
  flex-direction: row-reverse
  align-items: center

.filter-types
  display: grid
  grid-template-areas: "one two"\
    "three four"
  grid-template-columns: 2fr 1fr
  grid-template-rows: auto 0
  grid-column-gap: 1rem
  font-size: 0.8rem
  margin-top: 0.5rem

.input-filters
  grid-area: one / one / three / three
  width: 66%
  display: inline-block

.sort-filters
  grid-area: two / two / four / four
  flex-direction: column
  padding-left: 3rem
  width: 33%
  display: inline-block
  .filter-option
    input[type="radio"]
      margin-right: 0.3rem

.filter-option
  display: flex
  align-items: center
  min-height: 2rem

.filter-label
  flex-shrink: 0
  margin-right: 0.8rem
  width: 4rem
  text-align: right
  color: $gray5

.filter-input
  flex-grow: 1
  position: relative
  .region
  .role
    cursor: pointer
  .region
    &:not(.active):hover
      background-color: $green-lightest
    &.active:hover
      background-color: $green
  .role
    &:not(.active):hover
      background-color: $blue-lightest
    &.active:hover
      background-color: $blue
  input
    width: 100%
    border: 1px $gray2 solid
    border-radius: 2px
    height: 1.8rem
    font-size: 0.8rem
    padding: 0 1.5rem 0 0.5rem
    &:active
    &:focus
      outline: none
    &:focus
      border-color: $gray4

.filter-input-clear
  position: absolute
  right: 0.5rem
  top: 0
  line-height: 1.8rem


// Result player tiles
.results
  grid-area: results
  margin-top: 1rem
  flex-grow: 1

.player-tile
  background-color: $white
  margin-bottom: 0.75rem
  padding: 0.5rem 1rem 0.5rem 0
  position: relative
  transition: border-color $transition-time
  display: flex
  overflow: hidden
  cursor: pointer
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .14),
    0 2px 1px -1px rgba(0, 0, 0, .12)
  &:hover
    .player-image
      opacity: 0.9
    .player-rank
      background-color: $gray1
      color: $gray10
      text-shadow: 1px 1px 0 $gray2
      box-shadow: inset 0 0 0.5rem 0 $gray4
  &.not-verified
    background: repeating-linear-gradient(
      -45deg,
      $gray0,
      $gray0 10px,
      $white 10px,
      $white 20px
    )
    .date
      color: $gray8
    .verification:before
      content: "\f444"
      color: $gray8
      font-weight: 600
      font-size: 1.5rem
      line-height: 1.5rem

.player-rank
  width: 3.5rem
  background-color: $gray0
  text-align: center
  flex-shrink: 0
  margin: -1.5rem 0 -1.5rem -1rem
  padding: 1.5rem 0 1.5rem 1rem
  margin-right: 0.2rem
  font-size: 1.2rem
  font-weight: 600
  line-height: 2.5rem
  color: $gray7
  text-shadow: 1px 1px 0 $gray1
  box-shadow: inset 0 0 0.5rem 0 $gray3
  transition: all $transition-time

.player-image
  margin-left: 0.8rem
  flex-shrink: 0
  background-color: $gray0
  opacity: 0.8
  transition: opacity $transition-time
  img
    width: 64px
    height: 64px
    vertical-align: top

.player-details
  flex-grow: 1
  margin-left: 0.8rem
  margin-top: -0.2rem
  margin-bottom: 0.2rem

.player-profile
  display: flex
  padding-right: 2rem
  .name
    font-size: 2rem
    font-weight: 500
    letter-spacing: -1px
  .aliases
    margin-left: 0.5rem
    font-size: 0.8rem
    align-self: center
    &:before
      content: "（"
    &:after
      content: "）"
    span:not(:last-of-type)
      margin-right: 0.2rem
      &:after
        content: ","
    .alias
      font-weight: 400
      color: $gray8

.player-metadata
  display: flex
  align-items: center
  height: 1.25rem

.region
.role
  border: 1px solid
  padding: 0 3px
  border-radius: 2px
  font-size: 0.75rem
  font-weight: 600
  letter-spacing: 1px
  margin: 0.2rem 0.4rem 0.2rem 0
  display: inline-block
  background: $white
  text-transform: uppercase
  transition: background-color $transition-time

.region
  border-color $green
  color: $green-light
  box-shadow: 1px 1px 0 $green-dark
  &.active
    color: $white
    background-color: $green-light
    border-color: $green-dark

.role
  border-color: $blue
  color: $blue-light
  box-shadow: 1px 1px 0 $blue-dark
  text-transform: uppercase
  &.active
    color: $white
    background-color: $blue-light
    border-color: $blue-dark

.date
  text-align: right
  font-size: 0.8rem
  font-weight: 400
  font-style: italic
  color: $orange-light
  flex-grow: 1

.verification
  flex-shrink: 0
  margin-left: 0.5rem
  margin-right: -0.2rem
  width: 0.8rem
  text-align: center
  &:before
    font-family: "Ionicons"
    content: "\f3fd"
    color: $green-light
    font-size: 2rem
    line-height: 2rem

.social
  margin-left: 0.5rem
  display: flex
  flex-shrink: 0
  a
    cursor: pointer
    width: 1.25rem
    height: 1.25rem
    display: inline-block
    margin-left: 0.2rem
    background-position: center
    background-repeat: no-repeat
    opacity: 0.7
    transition: all $transition-time
    &:hover
      opacity: 1
      transform: scale(1.15)
    &.dotabuff
      background-image: url("/static/images/9kmmr/social/dotabuff.jpg")
      background-size: 1rem
    &.liquipedia
      background-image: url("/static/images/9kmmr/social/liquipedia.png")
      background-size: 1.25rem
      margin-right: 0.1rem
    &.instagram
      background-image: url("/static/images/9kmmr/social/instagram.png")
      background-size: 1rem
    &.twitch
      background-image: url("/static/images/9kmmr/social/twitch.jpg")
      background-size: 1.3rem
    &.twitter
    &.facebook
      text-decoration: none
      text-align: center
      line-height: 1.3rem
      &:before
        font-family: "Ionicons"
    &.twitter
      color: $twitter
      &:before
        content: "\f243"
    &.facebook
      color: $facebook
      font-size: 1.2rem
      margin-left: 0
      margin-right: -0.2rem
      &:before
        content: "\f231"


// Responsive tweaks
@media screen and (max-width: $max-width + 30px)
  html
    font-size: 14px
  .container
    padding: 0 2rem
  .player-image img
    width: 56px
    height: 56px
  .filter-types
    grid-template-rows: auto auto
  .input-filters
    grid-area: one / one / two / two
    width: 100%
  .sort-filters
    grid-area: three / three / four / four
    width: 100%
    padding-left: 4.85rem
    display: flex
    flex-direction: row
    div:not(:last-of-type)
      margin-right: 1.5rem

@media screen and (max-width: 500px)
  .player-metadata .social
    display: none

@media screen and (max-width: 450px)
  html
    font-size: 12px
  .player-tile .index
    top: 1.25rem
    left: -2rem
    text-align: center
  .player-image img
    width: 48px
    height: 48px
  .filter-preview .username
    max-width: 5rem

@supports (display: grid)
  .input-filters
    width: auto
    display: block
  .sort-filters
    display: flex
    width: auto

