$white = #ffffff
$gray1 = #f8f8f8
$gray2 = #f0f0f0
$gray3 = #e8e8e8
$gray4 = #b0b0b0
$gray5 = #9d9d9d
$gray6 = #808080
$gray7 = #505050
$gray8 = #333333
$black = #222222

$red = #ff4136

$green = #5cd17d
$green-light = lighten($green, 40%)
$green-lighter = lighten($green, 60%)
$green-lightest = lighten($green, 80%)

$orange-light = #f7e1a9
$orange = darken($orange-light, 30%)
$orange-dark = darken($orange, 30%)
$orange-darker = darken($orange, 60%)
$orange-lighter = lighten($orange-light, 40%)
$orange-lightest = lighten($orange-light, 80%)
