* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  box-sizing: border-box;
  outline-color: #beedcb;
}
html {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  min-width: 360px;
}
a,
a:link,
a:visited,
a:active,
a:focus {
  color: #b0b0b0;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #505050;
}
::-moz-selection {
  background: #def6e5;
  text-shadow: none;
}
::selection {
  background: #def6e5;
  text-shadow: none;
}
button[disabled],
input[disabled] {
  opacity: 0.65;
}
html {
  background-color: #f8f8f8;
  color: #222;
  font-size: 18px;
}
#app {
  height: 100%;
  margin: 0 auto;
}
.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#bchanx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
#bchanx-logo {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 20px;
}
.logo-bchanx {
  padding-top: 6px;
}
#bchanx-text {
  display: inline-block;
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
}
#projects {
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
  line-height: 48px;
}
#social {
  font-size: 26px;
  margin-top: 30px;
}
#social > a {
  color: #505050 !important;
  margin: 0 10px;
}
@media screen and (max-width: 640px) {
  #bchanx-text {
    display: none;
  }
  #bchanx-logo {
    display: block;
    margin: 0 auto 10px auto;
  }
  #projects {
    font-size: 26px;
    line-height: 38px;
  }
  #social {
    font-size: 24px;
    margin-top: 20px;
  }
  #social > a {
    margin: 0 7px;
  }
}
.logo-bchanx {
  width: 80px;
  height: 80px;
  display: inline-block;
  user-select: none;
}
.logo-bchanx:hover .logo-content {
  transform: rotateY(180deg);
}
.logo-content {
  transition: transform 0.4s ease;
  transform-style: preserve-3d;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  border: 1px rgba(0,0,0,0.3) solid;
  position: relative;
}
.logo-text {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #fff;
  position: absolute;
}
.logo-b {
  position: relative;
}
.logo-b:before,
.logo-b:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #222;
}
.logo-b:before {
  left: 27.200000000000003px;
  top: 14.8px;
  height: 48px;
  border-width: 0 0 0 6px;
}
.logo-b:after {
  top: 31.200000000000003px;
  left: 27.200000000000003px;
  width: 24px;
  border-width: 3px 4px;
  border-left: none;
  height: 27.200000000000003px;
  border-radius: 0 16px 16px 0;
}
.logo-pic {
  width: 80px;
  height: 80px;
  backface-visibility: hidden;
  transform: translateZ(1px);
  position: absolute;
}
.logo-pic img {
  border-radius: 50%;
  width: 78px;
  height: 78px;
}
.jukebox-container {
  width: 100%;
  min-width: 760px;
  height: 100%;
  min-height: 560px;
  background-color: #222;
  color: #f8f8f8;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.jukebox-container ::-moz-selection {
  background: #b0b0b0;
  text-shadow: none;
}
.jukebox-container ::selection {
  background: #b0b0b0;
  text-shadow: none;
}
.jukebox {
  flex-grow: 1;
  margin: 0 60px;
  min-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.jukebox.active {
  opacity: 1;
}
#jukebox-slidr {
  max-height: 360px;
  display: none;
}
#jukebox-slidr .slidr-control.up,
#jukebox-slidr .slidr-control.down {
  display: none;
}
#jukebox-slidr .slidr-control.left {
  left: -50px;
}
#jukebox-slidr .slidr-control.right {
  right: -50px;
}
.video-playlists {
  outline: 1px #f0f0f0 dotted;
  padding: 20px 0;
  width: 640px;
}
.video-player {
  width: 640px;
}
.video {
  width: 640px;
  height: 360px;
  flex-shrink: 0;
  position: relative;
}
.video-none {
  outline: 1px #f0f0f0 dotted;
  width: 640px;
  height: 360px;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-none.hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}
.youtube {
  width: 640px;
  height: 360px;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube.hidden {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.controls {
  margin-top: 10px;
  width: 640px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  font-size: 1.4em;
}
.controls.hidden {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.controls div[class*="-button"] {
  flex-shrink: 0;
  padding: 3px 10px;
  margin: 0 3px;
  cursor: pointer;
  opacity: 0.8;
}
.controls div[class*="-button"]:hover {
  opacity: 1;
}
.controls div[class*="-button"].active {
  color: #5cd17d;
  opacity: 1;
}
.playlist {
  outline: 1px #f0f0f0 dotted;
  margin-top: 10px;
  width: 640px;
  flex-shrink: 0;
}
.playlist-item {
  cursor: pointer;
  padding: 2px 20px;
}
.playlist-item:hover {
  background-color: #505050;
}
.playlist-name {
  display: inline-block;
  font-weight: 400;
}
.playlist-length {
  display: inline-block;
  margin-left: 3px;
}
.click {
  position: absolute;
  top: -30px;
  cursor: pointer;
  width: 100%;
}
.click > div {
  display: inline-block;
  margin-right: 10px;
}
.search {
  flex-shrink: 0;
  display: flex;
  width: 0;
  opacity: 0;
  transition: width 0.2s ease-out, opacity 0.3s linear;
}
.search.active {
  opacity: 1;
}
.search.expanded {
  outline: 1px #f0f0f0 dotted;
  width: 300px;
  margin-right: 10px;
}
.search.expanded .search-results {
  max-height: initial;
}
@media screen and (max-width: 1129px) {
  .search {
    display: none !important;
  }
}
.search-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.8;
  margin-left: -40px;
}
.search-icon:hover {
  opacity: 1;
}
.search-icon > span[class^="ion-ios"] {
  font-size: 40px;
  line-height: 40px;
}
.search-results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 0;
}
