$jukebox-width = 640px
$jukebox-height = 360px
$jukebox-margin = 60px
$jukebox-padding = 100px

input
  background: transparent
  color: $gray1
  border: 1px $gray2 dotted
  padding: 0 8px
  &:focus
    outline: 1px $green dashed
    outline-offset: -5px

.jukebox-container
  width: 100%
  height: 100%
  min-width: $jukebox-width + (2 * $jukebox-margin)
  min-height: $jukebox-height + (2 * $jukebox-padding)
  background-color: $black
  color: $gray1
  padding: $jukebox-padding 0
  display: flex
  flex-direction: row
  overflow-y: scroll
  position: relative
  &::-webkit-scrollbar
    display: none
  ::-moz-selection
    background: $gray4
    text-shadow: none
  ::selection
    background: $gray4
    text-shadow: none

.jukebox
  flex-grow: 1
  margin: 0 $jukebox-margin
  min-width: $jukebox-width
  display: flex
  flex-direction: column
  align-items: center
  opacity: 0
  transition: opacity 0.3s linear
  &.active
    opacity: 1

#jukebox-slidr
  max-height: $jukebox-height
  display: none
  .slidr-control
    &.up
    &.down
      display: none
    &.left
      left: -50px
    &.right
      right: -50px
  &.video-not-showing .video-player .playlist
    max-height: 0

.video-playlists
  border: 1px $gray2 dotted
  padding: 20px 0
  width: $jukebox-width
  max-height: $jukebox-height

.video-player
  width: $jukebox-width
  padding-bottom: 100px
  border-bottom: 0px transparent solid

.video
  width: $jukebox-width
  height: $jukebox-height
  flex-shrink: 0
  position: relative

.video-none
  border: 1px $gray2 dotted
  width: $jukebox-width
  height: $jukebox-height
  visibility: visible
  opacity: 1
  position: absolute
  top: 0
  left: 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  &.hidden
    visibility: hidden
    opacity: 0
    max-height: 0

.youtube
  width: $jukebox-width
  height: $jukebox-height
  visibility: visible
  opacity: 1
  position: absolute
  top: 0
  left: 0
  &.hidden
    opacity: 0
    visibility: hidden
    max-height: 0

.controls
  margin-top: 10px
  width: $jukebox-width
  display: flex
  flex-direction: row
  flex-shrink: 0
  justify-content: center;
  font-size: 1.4em
  &.hidden
    display: none
  div[class*="-button"]
    flex-shrink: 0
    padding: 3px 10px
    margin: 0 3px
    cursor: pointer
    opacity: 0.8
    &:hover
      opacity: 1
    &.active
      color: $green
      opacity: 1
      &:hover
        color: $green-light

.playlist
  border: 1px $gray2 dotted
  margin-top: 10px
  width: $jukebox-width
  flex-shrink: 0
  height: 200px
  &.hidden
    display: none

.playlist-item
  cursor: pointer
  padding: 2px 20px
  &:hover
    background-color: $gray7

.playlist-name
  display: inline-block
  font-weight: 400

.playlist-length
  display: inline-block
  margin-left: 3px

.action
  color: $green
  cursor: pointer
  font-weight: 400
  &:hover
    color: $green-light

.click
  position: absolute
  top: -30px
  cursor: pointer
  width: 100%
  > div
    display: inline-block
    margin-right: 10px
