$jukebox-width = 640px
$jukebox-height = 360px
$jukebox-margin = 60px
$jukebox-padding = 100px
$border = 1px $gray7 dashed

input
  background: transparent
  color: $gray1
  border: $border
  padding: 0 10px
  font-weight: 400
  width: 100%
  height: 40px
  &:focus
    outline: 1px $green-light dashed
    outline-offset: -1px

.jukebox-container
  width: 100%
  height: 100%
  min-width: $jukebox-width + (2 * $jukebox-margin)
  min-height: $jukebox-height + (2 * $jukebox-padding)
  background-color: $black
  color: $gray1
  padding: $jukebox-padding 0
  display: flex
  flex-direction: row
  overflow-y: scroll
  position: relative
  &::-webkit-scrollbar
    display: none
  ::-moz-selection
    background: $gray4
    text-shadow: none
  ::selection
    background: $gray4
    text-shadow: none

.jukebox
  flex-grow: 1
  margin: 0 $jukebox-margin
  min-width: $jukebox-width
  display: flex
  flex-direction: column
  align-items: center
  opacity: 0
  transition: opacity 0.3s linear
  &.active
    opacity: 1

#jukebox-slidr
  max-height: $jukebox-height
  display: none
  .slidr-control
    &.up
    &.down
      display: none
    &.left
      left: -50px
    &.right
      right: -50px
  &.video-not-showing .video-player .media-list
    max-height: 0
    overflow: hidden

.playlists
  border: $border
  padding: 20px 0
  width: $jukebox-width
  max-height: $jukebox-height

.playlist-item
  cursor: pointer
  padding: 2px 20px
  &:hover
    background-color: $gray8

.playlist-name
  display: inline-block
  font-weight: 400

.playlist-length
  display: inline-block
  margin-left: 3px

.video-player
  width: $jukebox-width
  padding-bottom: 100px
  border-bottom: 0px transparent solid

.video
  width: $jukebox-width
  height: $jukebox-height
  flex-shrink: 0
  position: relative

.video-none
  border: $border
  width: $jukebox-width
  height: $jukebox-height
  visibility: visible
  opacity: 1
  position: absolute
  top: 0
  left: 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  &.hidden
    visibility: hidden
    opacity: 0
    max-height: 0

.overlay
  width: $jukebox-width
  height: $jukebox-height
  background: rgba(26, 26, 26, 0.93);
  position: absolute
  top: 0
  left: 0
  z-index: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &.hidden
    display: none

.overlay-message
  margin-top: -20px
  margin-bottom: 20px

.overlay-continue
  width: 100px
  height: 100px
  cursor: pointer
  display: flex
  justify-content: center
  position: relative
  align-items: center
  &:hover > span[class^="ion-"]
    opacity: 1
  > span[class^="ion-"]
    opacity: 0.8
    font-size: 70px
    margin-left: 10px

.overlay-loading
  transform: rotateZ(-90deg)
  position: absolute
  left: 0
  top: 0
  circle
    fill: transparent
    stroke-dasharray: 590px
    stroke-dashoffset: 295px
    stroke-width: 5px
    stroke: $green

@keyframes overlay-progress
  from { stroke-dasharray: 295px }
  to { stroke-dasharray: 590px }

.overlay-cancel
  margin-top: 20px
  padding: 2px 10px
  cursor: pointer
  opacity: 0.8
  font-size: 0.8rem
  &:hover
    opacity: 1
    text-decoration: underline

.youtube
  width: $jukebox-width
  height: $jukebox-height
  visibility: visible
  opacity: 1
  position: absolute
  top: 0
  left: 0
  &.hidden
    opacity: 0
    visibility: hidden
    max-height: 0

.controls
  margin-top: 10px
  width: $jukebox-width
  display: flex
  flex-direction: row
  flex-shrink: 0
  justify-content: center;
  font-size: 1.4em
  &.hidden
    display: none
  div[class*="-button"]
    flex-shrink: 0
    padding: 3px 10px
    margin: 0 3px
    cursor: pointer
    opacity: 0.8
    &:hover
      opacity: 1
    &.active
      color: $green
      opacity: 1
      &:hover
        color: $green-light
    &.disabled
      opacity: 0.05

.media-list
  margin-top: 10px
  &.hidden
    display: none

.media-search
  position: relative

.media-search-icon
  position: absolute
  left: 0
  width: 40px
  height: 40px
  padding-left: 5px
  font-size: 18px
  line-height: 43px
  text-align: center
  pointer-events: none

.media-search-input
  padding-left: 40px
  padding-right: 120px
  &:focus + .media-search-count
    color: $green-light

.media-search-count
  position: absolute
  top: 0
  right: 40px
  line-height: 40px
  font-size: 14px
  font-style: italic
  color: $gray7
  pointer-events: none

.media-search-clear
  position: absolute
  top: 0
  right: 0
  width: 20px
  height: 30px
  margin: 5px 10px
  font-size: 30px
  line-height: 32px
  text-align: center
  cursor: pointer
  opacity: 0.8
  &:hover
    opacity: 1

.media-group
  margin-top: 20px
  &.queue
    padding: 12px 20px
    margin: 20px -20px
    background-color: $gray10
    .media-items
      width: 680px
      margin: 0 -20px
    .media-item
      padding-left: 30px
      padding-right: 30px
      &.active
        padding-left: 27px
      &:hover
        background-color: $gray8
    &.noresults
      background-color: inherit

.media-group-name
  margin-bottom: 5px
  font-size: 12px
  font-weight: 600
  letter-spacing: 1.5px
  padding-left: 42px
  text-transform: uppercase
  color: $green-lightest
  text-decoration: underline
  &.hidden
    opacity: 0.2
    color: $gray6

.media-items
  width: $jukebox-width
  flex-shrink: 0

.media-item
  cursor: pointer
  display: flex
  flex-direction: row
  padding: 7px 10px
  border-bottom: 1px $gray9 dashed
  opacity: 0.8
  &.active
    opacity: 1
    background-color: $gray10
    font-weight: 400
    color: $green
    border-left: 3px $green solid
    padding-left: 7px
    &:hover
      color: $green-light
      border-left-color: $green-light
  &.played
    opacity: 0.2
    font-style: italic
    border-bottom-color: transparent;
    color: $gray6
    background-color: inherit !important
    text-decoration: line-through
  &:hover
    opacity: 1
    background-color: $gray10
    text-decoration: none !important
  &.hidden
    opacity: 0.2
    color: $gray6
    pointer-events: none
  &:last-of-type
    border-bottom-color: transparent

.media-number
  width: 25px
  padding-top: 1px
  margin-right: 7px
  font-size: 12px
  flex-shrink: 0
  text-align: center
  align-self: center

.media-title
  flex-grow: 1
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.media-duration
  margin-left: 10px
  margin-right: 6px
  text-align: right
  flex-shrink: 0

.action
  color: $green
  cursor: pointer
  font-weight: 400
  &:hover
    color: $green-light

.click
  position: absolute
  top: -30px
  cursor: pointer
  width: 100%
  > div
    display: inline-block
    margin-right: 10px

.loading-spinner
  font-size: 22px
  display: inline-block
  animation: loading 1s linear infinite

@keyframes loading
  0% { transform: rotateZ(0) }
  100% { transform: rotateZ(359deg) }
