$search-result-width = 200px
$search-result-height = 180px
$search-margin-right = 20px
$search-icon-offset = 50px
$search-expanded-width = (2 * $search-result-width) + 30px + 2px
$search-max-height = "calc(100vh - (2 * %s))" % $jukebox-padding

.search-container
  flex-shrink: 0
  display: flex
  width: 0
  opacity: 0
  position: relative
  transition: width 0.2s ease-out, opacity 0.3s linear
  &.active
    opacity: 1
  &.expanded
    width: $search-expanded-width + $search-icon-offset
    margin-right: $search-margin-right
    .search
      width: $search-expanded-width
      margin-right: $search-margin-right
    .search-content
      visibility: visible
      max-height: $search-max-height
      min-height: $jukebox-height
      max-width: initial
    .search-icon
      left: -40px

.search
  position: fixed
  display: flex
  min-height: $jukebox-height
  max-height: $search-max-height
  margin-right: 0
  transition: width 0.2s ease-out
  width: 0
  right: 0

.search-icon
  width: 40px
  height: 40px
  cursor: pointer
  opacity: 0.8
  position: absolute
  left: -($search-icon-offset)
  &:hover
    opacity: 1
  > span[class^="ion-ios"]
    font-size: 40px
    line-height: 40px

.search-content
  flex-grow: 1
  display: flex
  flex-direction: column
  overflow: hidden
  visibility: hidden
  max-height: 0
  max-width: 0

.search-bar
  height: 40px
  flex-shrink: 0
  position: relative

.search-input
  padding-right: 40px

.search-loading
  position: absolute
  right: 0
  top: 0
  padding-left: 10px
  padding-top: 6px
  width: 40px
  height: 40px
  &.hidden
    display: none

.search-results
  margin-top: 20px
  border: $border
  overflow-x: hidden
  overflow-y: scroll
  flex-grow: 1
  display: flex
  flex-flow: row
  flex-wrap: wrap
  padding-top: 10px
  padding-bottom: 5px
  position: relative
  &::-webkit-scrollbar
    display: none
  &.disabled
    opacity: 0.7
    pointer-events: none
  &.hidden
    display: none

.search-error
  align-self: center
  text-align: center
  width: 100%
  font-style: italic
  color: $gray5
  margin-top: -10px

.search-result
  height: $search-result-height
  width: $search-result-width
  margin: 0 10px 5px
  overflow: hidden
  background-color: $black
  &:nth-child(2n)
    margin-left: 0
  &:hover
    .search-result-title a
      text-decoration: underline
    .search-result-overlay
      visibility: visible

.search-result-thumbnail
  width: 100%
  height: 120px
  position: relative
  img
    width: 107%
    margin-left: -7px

.search-result-duration
  position: absolute
  bottom: 3px
  right: 3px
  font-weight: 400
  font-size: 12px
  background: $black
  color: $gray1
  opacity: 0.9
  padding: 2px 5px

.search-result-overlay
  visibility: hidden
  position: absolute
  width: 100%
  height: 100%
  top: 0
  background: rgba(34, 34, 34, 0.8)
  outline: 1px yellow solid
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.search-result-action
  width: 37%
  height: 80%
  flex-shrink: 0
  cursor: pointer
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &:hover
    color: $green-light
    border-color: $green-light
  &.queue span[class^="ion-ios-"]
    font-size: 28px
    margin-top: -4px
    margin-bottom: -1px
  &.play span[class^="ion-ios-"]
    font-size: 34px
    margin-top: -6px
    margin-left: 2px
    margin-bottom: -4px

.search-result-action-text
  font-size: 8px
  font-weight: 400

.search-result-title
  max-height: 34px
  font-size: 14px
  line-height: 16px
  font-weight: 400
  padding: 2px 5px
  overflow: hidden
  word-wrap: break-word
  white-space: pre
  position: relative
  background-color: inherit
  color: $gray1
  &:hover
    color: $green-light
  a
    color: inherit
  &:before
    content: "…"
    right: 7px
    top: 19px
    color: inherit
    background-color: inherit
    position: absolute
  &:after
    content: ""
    height: 100%
    width: 100%
    position: absolute
    background-color: inherit

.search-result-statistics
  height: 12px
  padding: 0 5px
  color: $gray6
  font-size: 10px

.search-result-artist
  color: $gray3
  &.unknown
    font-style: italic

.search-more
  display: flex
  justify-content: center
  align-items: center
  span
    cursor: pointer
    color: $green
    font-weight: 400
    &:hover
      color: $green-light

.search-none
  font-style: italic
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  color: $gray6
  span
    margin-top: -20px


@media screen and (max-width: 1261px)
  .search-container.expanded
    width: $search-result-width + $search-icon-offset + 20px + 2px
    .search
      width: $search-result-width + 20px + 2px

  .search-result:nth-child(2n)
    margin-left: auto

@media screen and (max-width: 1053px)
  .search-container
    display: none !important
