.search
  flex-shrink: 0
  display: flex
  width: 0
  opacity: 0
  transition: width 0.2s ease-out, opacity 0.3s linear
  &.active
    opacity: 1
  &.expanded
    outline: 1px $gray2 dotted
    width: 300px
    margin-right: 10px
    .search-results
      max-height: initial

@media screen and (max-width: 1129px)
  .search
    display: none !important

.search-icon
  width: 40px
  height: 40px
  cursor: pointer
  opacity: 0.8
  margin-left: -40px
  &:hover
    opacity: 1
  > span[class^="ion-ios"]
    font-size: 40px
    line-height: 40px

.search-results
  flex-grow: 1
  display: flex
  flex-direction: column
  max-height: 0
