//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

@import 'reset.less';


//////////////////// COLORSPACE
@green: #7CE69C;
@darkgreen: #64A377;
@white: #ffffff;
@palegray: #f8f8f8;
@lightgray: #f0f0f0;
@gray: #808080;
@darkgray: #303030;
@black: #222222;


//////////////////// CLEARFIX
/*
 * Clearfix: contain floats
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}


//////////////////// BASE
html, button, input, select, textarea {
  font: 400 13px 'Oxygen', sans-serif;
  color: @black;
}

html {
  height: 100%;
  background-color: @white;
  overflow-y: scroll;
}

body {
  font-size: 1em;
  line-height: 1.4;
  min-height: 480px;
}


//////////////////// FORMAT
#body {
  display: block;
  width: 800px;
  margin: 0 auto;
}

