//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

#logo-twitter-small,
#logo-github-small {
  &:hover {
    background-color: @green;
    div[class*=-none] {
      background-color: @green;
    }
    div[class*=-spots] {
      border-color: @green;
    }
  }
}

