//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

#tweet-link {
  text-align: center;
}

#logo-twitter-small,
#logo-github-small,
#logo-linkedin-small {
  background-color: @black;
  div[class*=-none] {
    background-color: @black;
  }
  div[class*=-spots] {
    border-color: @black;
  }
  &:hover {
    background-color: @green;
    div[class*=-none] {
      background-color: @green;
    }
    div[class*=-spots] {
      border-color: @green;
    }
  }
}

