//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

@import 'base.less';
@import 'logo.less';
@import 'footer.less';

#bchanx {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -269px;
  top: 50%;
  margin-top: -150px;
  #banner {
    font-size: 120px;
  }
  #projects {
    display: block;
    margin: 20px 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
  }
  #links {
    display: block;
    height: 50px;
    width: 170px;
    margin: 20px auto;
    .icon {
      margin: 0 2px;
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  }
}

