//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

// BCHANX
.logo-bchanx-medium {
  .logo-bchanx(100px);
}

.logo-bchanx-small {
  .logo-bchanx(80px);
}

.logo-bchanx (@radius) {
  width: @radius;
  height: @radius;
  display: inline-block;
  .user-select-none();
  .logo-content {
    .transition(transform, ~"0.4s ease");
    .transform-style(preserve-3d);
    width: @radius;
    height: @radius;
    .border-radius(50%);
    .box-shadow(0 0 @radius * 0.05 0 rgba(0, 0, 0, 0.5));
    border: 1px rgba(0, 0, 0, 0.3) solid;
    position: relative;
    &.dark-theme {
      border: 1px rgba(255, 255, 255, 0.3) solid;
      .box-shadow(0 0 @radius * 0.3 0 rgba(255, 255, 255, 1));
    }
    .logo-text {
      width: @radius - 2;
      height: @radius - 2;
      .border-radius(50%);
      .transform(rotateY(180deg));
      .backface-visibility(hidden);
      background-color: @white;
      position: absolute;
      .logo-b {
        position: relative;
        &:before, &:after {
          content: "";
          position: absolute;
          border-style: solid;
          border-color: @black;
        }
        &:before {
          left: @radius * 0.34;
          top: @radius * 0.185;
          height: @radius * 0.6;
          border-width: 0 0 0 ceil(@radius * 0.07);
        }
        &:after {
          top: @radius * 0.39;
          left: @radius * 0.34;
          width: @radius * 0.3;
          border-width: ceil(@radius * 0.03) ceil(@radius * 0.05);
          border-left: none;
          height: @radius * 0.34;
          border-radius: 0 @radius * 0.2 @radius * 0.2 0;
        }
      }
    }
    .logo-pic {
      width: @radius;
      height: @radius;
      .backface-visibility(hidden);
      z-index: 1;
      position: absolute;
      img {
        position: absolute;
        .border-radius(50%);
        width: @radius - 2;
        height: @radius - 2;
      }
    }
  }
  &:hover .logo-content {
    .transform(rotateY(180deg));
  }
}

// TWITTER
#logo-twitter-actual {
  background: @black url('/static/images/twitter-bird-dark-bgs.png') no-repeat;
  background-size: 300px 300px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
}

#logo-twitter-large {
  .logo-twitter(150px);
}

#logo-twitter-small {
  .logo-twitter(25px);
}

.logo-twitter(@radius) {
  @ratio: (2 * @radius) / 290;
  background-color: @black;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(100%);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: @green;
    div.none {
      background-color: @green;
    }
  }
  div {
    position: absolute;
    border-radius: 100%;
    background-color: @white;
    &.none {
      background-color: @black;
    }
  }
  .body {
    top: 16 * @ratio;
    left: 15 * @ratio;
    width: 206 * @ratio;
    height: 206 * @ratio;
    &.none {
      top: 56 * @ratio;
      left: -6 * @ratio;
      width: 150 * @ratio;
      height: 150 * @ratio;
    }
  }
  .wing-top {
    top: 65 * @ratio;
    left: 68 * @ratio;
    width: 88 * @ratio;
    height: 77 * @ratio;
    &.none {
      top: -77 * @ratio;
      left: 53 * @ratio;
      width: 200 * @ratio;
      height: 200 * @ratio;
    }
  }
  .wing-middle {
    top: 95 * @ratio;
    left: 68 * @ratio;
    width: 88 * @ratio;
    height: 73 * @ratio;
    &.none {
      top: -25 * @ratio;
      left: 20 * @ratio;
      width: 160 * @ratio;
      height: 160 * @ratio;
    }
  }
  .wing-bottom {
    top: 121 * @ratio;
    left: 80 * @ratio;
    width: 70 * @ratio;
    height: 70 * @ratio;
    &.none {
      top: 106 * @ratio;
      left: 58 * @ratio;
      width: 60 * @ratio;
      height: 60 * @ratio;
      background-color: @black;
    }
  }
  .beak-bottom {
    width: 100 * @ratio;
    height: 100 * @ratio;
    left: 145 * @ratio;
    top: 21 * @ratio;
    &.none {
      width: 115 * @ratio;
      height: 115 * @ratio;
      left: 155 * @ratio;
      top: -14 * @ratio;
    }
  }
  .beak-top {
    width: 65 * @ratio;
    height: 65 * @ratio;
    left: 170 * @ratio;
    top: 39 * @ratio;
    &.none {
      width: 115 * @ratio;
      height: 115 * @ratio;
      left: 144 * @ratio;
      top: -25 * @ratio;
      background-color: @black;
    }
  }
  .head {
    width: 72 * @ratio;
    height: 72 * @ratio;
    left: 148 * @ratio;
    top: 78 * @ratio;
  }
}


