//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//


.logo-medium {
  .logo-properties(100px);
}

.logo-small {
  .logo-properties(80px);
}

.logo-properties (@radius) {
  width: @radius;
  height: @radius;
  display: inline-block;
  .user-select-none();
  .logo-content {
    .transition(transform, ~"0.4s ease");
    .transform-style(preserve-3d);
    width: @radius;
    height: @radius;
    .border-radius(50%);
    .box-shadow(0 0 @radius * 0.05 0 rgba(0, 0, 0, 0.5));
    border: 1px rgba(0, 0, 0, 0.3) solid;
    position: relative;
    .logo-text {
      width: @radius - 2;
      height: @radius - 2;
      .border-radius(50%);
      .transform(rotateY(180deg));
      .backface-visibility(hidden);
      position: absolute;
      .logo-b {
        position: relative;
        &:before, &:after {
          content: "";
          position: absolute;
          border-style: solid;
          border-color: @black;
        }
        &:before {
          left: @radius * 0.34;
          top: @radius * 0.185;
          height: @radius * 0.6;
          border-width: 0 0 0 ceil(@radius * 0.07);
        }
        &:after {
          top: @radius * 0.39;
          left: @radius * 0.34;
          width: @radius * 0.3;
          border-width: ceil(@radius * 0.03) ceil(@radius * 0.05);
          border-left: none;
          height: @radius * 0.34;
          border-radius: 0 @radius * 0.2 @radius * 0.2 0;
        }
      }
    }
    .logo-pic {
      width: @radius;
      height: @radius;
      .backface-visibility(hidden);
      z-index: 1;
      position: absolute;
      img {
        position: absolute;
        .border-radius(50%);
        width: @radius - 2;
        height: @radius - 2;
      }
    }
  }
  &:hover .logo-content {
    .transform(rotateY(180deg));
  }
}

