//
// Copyright 2013. All Rights Reserved.
// Author: Brian Chan
// Contact: bchanx@gmail.com
//

// TWITTER
.logo-twitter-actual {
  background: url('/static/images/logo/twitter.png') no-repeat;
  background-size: 300px 300px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-twitter-large {
  .logo-twitter(150px);
}

.logo-twitter-small {
  .logo-twitter(26px);
}

.logo-twitter(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @twitter;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(100%);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    border-radius: 100%;
    background-color: @white;
    &[class*=-none] {
      background-color: @twitter;
    }
  }
  .body {
    top: 16 * @ratio;
    left: 15 * @ratio;
    width: 206 * @ratio;
    height: 206 * @ratio;
  }
  .body-none {
    top: 56 * @ratio;
    left: -6 * @ratio;
    width: 150 * @ratio;
    height: 150 * @ratio;
  }
  .wing-top {
    top: 65 * @ratio;
    left: 68 * @ratio;
    width: 88 * @ratio;
    height: 77 * @ratio;
  }
  .wing-top-none {
    top: -77 * @ratio;
    left: 53 * @ratio;
    width: 200 * @ratio;
    height: 200 * @ratio;
  }
  .wing-middle {
    top: 95 * @ratio;
    left: 68 * @ratio;
    width: 88 * @ratio;
    height: 73 * @ratio;
  }
  .wing-middle-none {
    top: -25 * @ratio;
    left: 20 * @ratio;
    width: 160 * @ratio;
    height: 160 * @ratio;
  }
  .wing-bottom {
    top: 121 * @ratio;
    left: 80 * @ratio;
    width: 70 * @ratio;
    height: 70 * @ratio;
  }
  .wing-bottom-none {
    top: 106 * @ratio;
    left: 58 * @ratio;
    width: 60 * @ratio;
    height: 60 * @ratio;
  }
  .beak-bottom {
    width: 100 * @ratio;
    height: 100 * @ratio;
    left: 145 * @ratio;
    top: 21 * @ratio;
  }
  .beak-bottom-none {
    width: 115 * @ratio;
    height: 115 * @ratio;
    left: 155 * @ratio;
    top: -14 * @ratio;
  }
  .beak-top {
    width: 65 * @ratio;
    height: 65 * @ratio;
    left: 170 * @ratio;
    top: 39 * @ratio;
  }
  .beak-top-none {
    width: 115 * @ratio;
    height: 115 * @ratio;
    left: 144 * @ratio;
    top: -25 * @ratio;
  }
  .head {
    width: 72 * @ratio;
    height: 72 * @ratio;
    left: 148 * @ratio;
    top: 78 * @ratio;
  }
}


// GITHUB
.logo-github-actual {
  background: url('/static/images/logo/github.png') no-repeat;
  background-size: 300px 300px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-github-large {
  .logo-github(150px);
}

.logo-github-small {
  .logo-github(26px);
}

.logo-github(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @github;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    border-radius: 100%;
    background-color: @white;
    &[class*=-none] {
      background-color: @github;
    }
  }
  .head {
    width: 188 * @ratio;
    height: 140 * @ratio;
    left: 56 * @ratio;
    top: 75 * @ratio;
  }
  .chin-left {
    width: 125 * @ratio;
    height: 136 * @ratio;
    left: 54 * @ratio;
    top: 82 * @ratio;
  }
  .chin-right {
    width: 125 * @ratio;
    height: 136 * @ratio;
    left: 121 * @ratio;
    top: 82 * @ratio;
  }
  .ear-one-left {
    width: 70 * @ratio;
    height: 90 * @ratio;
    left: 67 * @ratio;
    top: 42 * @ratio;
  }
  .ear-one-right {
    width: 46 * @ratio;
    height: 12 * @ratio;
    left: 69 * @ratio;
    top: 69 * @ratio;
    .transform(rotate(23deg));
  }
  .ear-one-none {
    width: 102 * @ratio;
    height: 45 * @ratio;
    left: 70 * @ratio;
    top: 37 * @ratio;
  }
  .ear-two-left {
    width: 46 * @ratio;
    height: 12 * @ratio;
    left: 185 * @ratio;
    top: 69 * @ratio;
    .transform(rotate(-23deg));
  }
  .ear-two-right {
    width: 70 * @ratio;
    height: 90 * @ratio;
    left: 163 * @ratio;
    top: 42 * @ratio;
  }
  .ear-two-none {
    width: 102 * @ratio;
    height: 45 * @ratio;
    left: 128 * @ratio;
    top: 37 * @ratio;
  }
  .body-left {
    .border-radius(100% 100% 0 0);
    width: 56 * @ratio;
    height: 88 * @ratio;
    left: 112 * @ratio;
    top: 209 * @ratio;
  }
  .body-left-none {
    width: 8 * @ratio;
    height: 40 * @ratio;
    left: 104 * @ratio;
    top: 254 * @ratio;
    .border-radius(4 * @ratio, 0, 4 * @ratio, 0);
  }
  .body-right {
    .border-radius(100% 100% 0 0);
    width: 56 * @ratio;
    height: 88 * @ratio;
    left: 132 * @ratio;
    top: 209 * @ratio;
  }
  .body-right-none {
    width: 8 * @ratio;
    height: 40 * @ratio;
    left: 188 * @ratio;
    top: 254 * @ratio;
    .border-radius(0, 4 * @ratio, 0, 4 * @ratio);
  }
  .body-bottom {
    width: 88 * @ratio;
    height: 18 * @ratio;
    left: 106 * @ratio;
    top: 285 * @ratio;
  }
  .tail-end {
    .transform(rotate(-35deg));
    width: 16 * @ratio;
    height: 35 * @ratio;
    left: 53 * @ratio;
    top: 211 * @ratio;
  }
  .tail-body {
    width: 78 * @ratio;
    height: 48 * @ratio;
    left: 63 * @ratio;
    top: 213 * @ratio;
  }
  .tail-body-spots {
    border: 5 * @ratio @github dotted;
    background: transparent;
    .border-radius(0, 0, 145 * @ratio, 130 * @ratio);
    width: 100 * @ratio;
    height: 59 * @ratio;
    left: 52 * @ratio;
    top: 190 * @ratio;
  }
  .tail-end-none {
    .transform(rotate(-24deg));
    width: 17 * @ratio;
    height: 48 * @ratio;
    left: 46 * @ratio;
    top: 218 * @ratio;
  }
  .tail-body-none {
    width: 67 * @ratio;
    height: 48 * @ratio;
    left: 67 * @ratio;
    top: 194 * @ratio;
  }
  .tail-tip {
    .transform(rotate(12deg));
    width: 20 * @ratio;
    height: 9 * @ratio;
    left: 41 * @ratio;
    top: 212 * @ratio;
  }
}

// FACEBOOK
.logo-facebook-actual {
  background: url('/static/images/logo/facebook.png') no-repeat;
  background-size: 300px 300px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-facebook-large {
  .logo-facebook(150px);
}

.logo-facebook-small {
  .logo-facebook(26px);
}

.logo-facebook(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @facebook;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    background-color: @white;
    &[class*=-none] {
      background-color: @facebook;
    }
  }
  .longpiece {
    width: 94 * @ratio;
    height: 260 * @ratio;
    border: 47 * @ratio @white solid;
    .border-radius(55 * @ratio, 0, 0, 0);
    left: 160 * @ratio;
    top: 45 * @ratio;
  }
  .longpiece-none {
    width: 55 * @ratio;
    height: 210 * @ratio;
    .border-radius(21 * @ratio, 0, 0, 0);
    left: 206 * @ratio;
    top: 87 * @ratio;
  }
  .shortpiece {
    width: 130 * @ratio;
    height: 43 * @ratio;
    left: 121 * @ratio;
    top: 140 * @ratio;
  }
  .shortpiece-none {
    width: 10 * @ratio;
    height: 50 * @ratio;
    left: 248 * @ratio;
    top: 138 * @ratio;
    .transform(rotate(8deg));
  }
}

// LINKEDIN
.logo-linkedin-actual {
  background: @linkedin url('/static/images/logo/linkedin.png') no-repeat 25px 25px;
  background-size: 250px 250px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-linkedin-large {
  .logo-linkedin(150px);
}

.logo-linkedin-small {
  .logo-linkedin(26px);
}

.logo-linkedin(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @linkedin;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    background-color: @white;
    &[class*=-none] {
      background-color: @linkedin;
    }
  }
  .i-dot {
    .border-radius(100%);
    width: 43 * @ratio;
    height: 43 * @ratio;
    left: 59 * @ratio;
    top: 60 * @ratio;
  }
  .i-body {
    width: 37 * @ratio;
    height: 118 * @ratio;
    left: 62 * @ratio;
    top: 119 * @ratio;
  }
  .n-body {
    width: 36 * @ratio;
    height: 118 * @ratio;
    left: 122 * @ratio;
    top: 119 * @ratio;
  }
  .n-curve {
    .border-radius(36 * @ratio, 42 * @ratio, 0, 0);
    width: 84 * @ratio;
    height: 121 * @ratio;
    left: 154 * @ratio;
    top: 116 * @ratio;
  }
  .n-curve-none {
    .border-radius(31 * @ratio, 23 * @ratio, 0, 0);
    width: 41 * @ratio;
    height: 95 * @ratio;
    left: 159 * @ratio;
    top: 148 * @ratio;
  }
}

// EVERNOTE
.logo-evernote-actual {
  background: @evernote url('/static/images/logo/evernote.png') no-repeat 25px 25px;
  background-size: 250px 250px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-evernote-large {
  .logo-evernote(150px);
}

.logo-evernote-small {
  .logo-evernote(26px);
}

.logo-evernote(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @evernote;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    background-color: @white;
    &[class*=-none] {
      background-color: @evernote;
    }
  }
  .head {
    .transform(rotate(2deg));
    .border-radius(0 20% 0 11 * @ratio);
    width: 71 * @ratio;
    height: 103 * @ratio;
    left: 153 * @ratio;
    top: 75 * @ratio;
  }
  .head-top {
    .border-radius(100%);
    .transform(rotate(5deg));
    width: 65 * @ratio;
    height: 12 * @ratio;
    left: 154 * @ratio;
    top: 71 * @ratio;
  }
  .head-right {
    width: 11 * @ratio;
    height: 115 * @ratio;
    left: 217 * @ratio;
    top: 88 * @ratio;
    .border-radius(100%);
  }
  .head-bottom {
    .border-radius(0 0 0 20 * @ratio);
    .transform(rotate(7deg));
    width: 70 * @ratio;
    height: 16 * @ratio;
    top: 169 * @ratio;
    left: 151 * @ratio;
  }
  .trunk-right {
    .border-radius(0 40% 62% 26 * @ratio);
    width: 45 * @ratio;
    height: 110 * @ratio;
    left: 181 * @ratio;
    top: 133 * @ratio;
    .transform(rotate(4deg));
  }
  .trunk-bottom {
    .border-radius(7 * @ratio 0 26% 40%);
    width: 56 * @ratio;
    height: 30 * @ratio;
    top: 214 * @ratio;
    left: 152 * @ratio;
  }
  .trunk-left {
    .border-radius(40% 0 0 39%);
    width: 36 * @ratio;
    height: 46 * @ratio;
    top: 196 * @ratio;
    left: 150 * @ratio;
  }
  .trunk-bottom-none {
    .border-radius(22%, 0, 9 * @ratio, 26%);
    width: 32 * @ratio;
    height: 14 * @ratio;
    left: 166 * @ratio;
    top: 210 * @ratio;
  }
  .trunk-right-none {
    .border-radius(130%, 140%, 50%, 121%);
    width: 19 * @ratio;
    height: 32 * @ratio;
    top: 187 * @ratio;
    left: 179 * @ratio;
  }
  .trunk-left-none {
    .border-radius(0 170% 0 0);
    width: 18 * @ratio;
    height: 12 * @ratio;
    left: 178 * @ratio;
    top: 184 * @ratio;
  }
  .head-none {
    .border-radius(10 * @ratio 10 * @ratio 0 0);
    .transform(rotate(5deg));
    width: 19 * @ratio;
    height: 15 * @ratio;
    left: 182 * @ratio;
    top: 134 * @ratio;
  }
  .eye {
    .border-radius(100%, 150%, 0, 0);
    .transform(rotate(5deg));
    width: 22 * @ratio;
    height: 5 * @ratio;
    left: 180 * @ratio;
    top: 145 * @ratio;
  }
  .ear-flap {
    .transform(rotate(45deg));
    width: 33 * @ratio;
    height: 51 * @ratio;
    top: 65 * @ratio;
    left: 87 * @ratio;
  }
  .ear-flap-left-none {
    .border-radius(16 * @ratio 0 0 0);
    width: 39 * @ratio;
    height: 20 * @ratio;
    top: 93 * @ratio;
    left: 67 * @ratio;

  }
  .ear-flap-right-none {
    .border-radius(9 * @ratio 0 0 0);
    width: 25 * @ratio;
    height: 32 * @ratio;
    top: 58 * @ratio;
    left: 107 * @ratio;
  }
  .body-top {
    .border-radius(100% 110% 112% 100%);
    width: 52 * @ratio;
    height: 29 * @ratio;
    top: 56 * @ratio;
    left: 112 * @ratio;
  }
  .body-left {
    .border-radius(40 * @ratio 0 0 167%);
    width: 52 * @ratio;
    height: 29 * @ratio;
    top: 98 * @ratio;
    left: 72 * @ratio;
  }
  .body-bottom-right {
    .transform(rotate(11deg));
    .border-radius(100% 100% 75% 0);
    width: 18 * @ratio;
    height: 42 * @ratio;
    top: 149 * @ratio;
    left: 132 * @ratio;
  }
  .body-bottom-left {
    .transform(rotate(-11deg));
    .border-radius(67% 100% 120% 68%);
    height: 78 * @ratio;
    width: 21 * @ratio;
    left: 76 * @ratio;
    top: 102 * @ratio;
  }
  .body-bottom {
    .transform(rotate(10deg));
    .border-radius(171% 120% 24 * @ratio 100%);
    width: 61 * @ratio;
    height: 15 * @ratio;
    left: 86 * @ratio;
    top: 172 * @ratio;
  }
  .body-middle {
    width: 50 * @ratio;
    height: 88 * @ratio;
    left: 112 * @ratio;
    top: 71 * @ratio;
  }
  .body {
    width: 50 * @ratio;
    height: 57 * @ratio;
    left: 90 * @ratio;
    top: 120 * @ratio;
  }
  .ear-curve-none {
    .border-radius(0 0 6 * @ratio 0);
    width: 10 * @ratio;
    height: 10 * @ratio;
    left: 102 * @ratio;
    top: 88 * @ratio;
  }
  .ear-curve {
    .border-radius(0 0 2 * @ratio 0);
    width: 8 * @ratio;
    height: 8 * @ratio;
    left: 99 * @ratio;
    top: 85 * @ratio;
  }
}

// DROPBOX
.logo-dropbox-actual {
  background: @dropbox url('/static/images/logo/dropbox.png') no-repeat 40px 45px;
  background-size: 220px 220px;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-dropbox-large {
  .logo-dropbox(150px);
}

.logo-dropbox-small {
  .logo-dropbox(26px);
}

.logo-dropbox(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @dropbox;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
    background-color: @white;
    &[class*=-none] {
      background-color: @dropbox;
    }
  }
  .base-left {
    .transform(skew(0, 32deg));
    width: 56 * @ratio;
    height: 79 * @ratio;
    left: 94 * @ratio;
    top: 149 * @ratio;
  }
  .base-middle {
    .border-radius(100%);
    width: 6 * @ratio;
    height: 76 * @ratio;
    left: 147 * @ratio;
    top: 169 * @ratio;
  }
  .base-right {
    .transform(skew(0, -32deg));
    width: 56 * @ratio;
    height: 79 * @ratio;
    left: 150 * @ratio;
    top: 149 * @ratio;
  }
  .cover-left-none {
    .transform(skew(-49deg, 34deg));
    width: 60 * @ratio;
    height: 40 * @ratio;
    left: 74 * @ratio;
    top: 149 * @ratio;
  }
  .cover-right-none {
    .transform(skew(49deg, -34deg));
    width: 60 * @ratio;
    height: 40 * @ratio;
    left: 166 * @ratio;
    top: 149 * @ratio;
  }
  .cover-top {
    .transform(skew(49deg, -35deg));
    width: 55 * @ratio;
    height: 37 * @ratio;
    left: 77 * @ratio;
    top: 80 * @ratio;
  }
  .cover-bottom {
    .transform(skew(49deg, -35deg));
    width: 55 * @ratio;
    height: 37 * @ratio;
    left: 168 * @ratio;
    top: 146 * @ratio;
  }
  .cover-right {
    .transform(skew(-49deg, 35deg));
    width: 55 * @ratio;
    height: 37 * @ratio;
    left: 168 * @ratio;
    top: 80 * @ratio;
  }
  .cover-left {
    .transform(skew(-49deg, 35deg));
    width: 55 * @ratio;
    height: 37 * @ratio;
    left: 77 * @ratio;
    top: 146 * @ratio;
  }
  .box-none {
    .transform(skew(-57deg, 33deg));
    width: 56 * @ratio;
    height: 36 * @ratio;
    left: 122 * @ratio;
    top: 114 * @ratio;
  }
}

// APPLE
.logo-apple-actual {
  background: @white url('/static/images/logo/apple.png') no-repeat 50px 40px;
  background-size: 200px 200px;
  border: 2px @gray dotted;
  .border-radius(100%);
  width: 300px;
  height: 300px;
  .user-select-none();
}

.logo-apple-large {
  .logo-apple(150px);
}

.logo-apple-small {
  .logo-apple(26px);
}

.logo-apple(@radius) {
  @ratio: (2 * @radius) / 300;
  background-color: @white;
  border: 2px @gray dotted;
  width: 2 * @radius;
  height: 2 * @radius;
  .border-radius(@radius);
  .border-radius-fix();
  position: relative;
  overflow: hidden;
  .user-select-none();
  div {
    position: absolute;
  }
  .blue-curve-left {
    background-color: #009CDC;
    .border-radius(0 0 50% 50%);
    width: 47 * @ratio;
    height: 30 * @ratio;
    left: 89 * @ratio;
    top: 209 * @ratio;
  }
  .blue-curve-right {
    background-color: #009CDC;
    .border-radius(0 0 50% 50%);
    width: 47 * @ratio;
    height: 30 * @ratio;
    left: 162 * @ratio;
    top: 209 * @ratio;
  }
  .blue {
    background-color: #009CDC;
    width: 152 * @ratio;
    height: 26 * @ratio;
    left: 73 * @ratio;
    top: 209 * @ratio;
  }
  .blue-none {
    background-color: @white;
    .border-radius(100%);
    width: 50 * @ratio;
    height: 19 * @ratio;
    left: 124 * @ratio;
    top: 231 * @ratio;
  }
  .purple {
    background-color: #963D97;
    width: 182 * @ratio;
    height: 28 * @ratio;
    left: 59 * @ratio;
    top: 185 * @ratio;
  }
  .red {
    background-color: #E13A3D;
    width: 190 * @ratio;
    height: 25 * @ratio;
    left: 51 * @ratio;
    top: 163 * @ratio;
  }
  .orange {
    background-color: #F6832C;
    width: 162 * @ratio;
    height: 30 * @ratio;
    left: 52 * @ratio;
    top: 135 * @ratio;
  }
  .orange-curve {
    background-color: #F6832C;
    .border-radius(100%);
    width: 6 * @ratio;
    height: 40 * @ratio;
    left: 50 * @ratio;
    top: 129 * @ratio;
  }
  .yellow {
    background-color: #FCB83E;
    width: 178 * @ratio;
    height: 28 * @ratio;
    left: 49 * @ratio;
    top: 109 * @ratio;
  }
  .green-curve-left {
    background-color: #61BC48;
    .border-radius(50% 50% 0 0);
    width: 55 * @ratio;
    height: 22 * @ratio;
    left: 80 * @ratio;
    top: 87 * @ratio;
  }
  .green-curve-right {
    background-color: #61BC48;
    .border-radius(50% 50% 0 0);
    width: 55 * @ratio;
    height: 22 * @ratio;
    left: 163 * @ratio;
    top: 87 * @ratio;
  }
  .green {
    background-color: #61BC48;
    width: 176 * @ratio;
    height: 21 * @ratio;
    left: 59 * @ratio;
    top: 91 * @ratio;
  }
  .green-none {
    background-color: @white;
    .border-radius(100%);
    width: 46 * @ratio;
    height: 16 * @ratio;
    left: 126 * @ratio;
    top: 79 * @ratio;
  }
  .green-leaf {
    .border-radius(100% 0 100% 0);
    background-color: #61BC48;
    width: 47 * @ratio;
    height: 49 * @ratio;
    top: 40 * @ratio;
    left: 141 * @ratio;
  }
  .bottom-left-none {
    background-color: transparent;
    .radial-gradient(~"100% 0, ellipse", ~"at top right", ~"rgba(0,0,0,0) 70%,", @white, ~"0");
    width: 76 * @ratio;
    height: 135 * @ratio;
    left: 44 * @ratio;
    top: 108 * @ratio;
  }
  .bottom-right-none {
    background-color: transparent;
    .radial-gradient(~"0 0, ellipse", ~"at top left", ~"rgba(0,0,0,0) 70%,", @white, ~"0");
    width: 79 * @ratio;
    height: 137 * @ratio;
    left: 177 * @ratio;
    top: 106 * @ratio;
  }
  .top-left-none {
    background-color: transparent;
    .radial-gradient(~"100% 100%, ellipse", ~"at bottom right", ~"rgba(0,0,0,0) 70%,", @white, ~"0");
    width: 58 * @ratio;
    height: 62 * @ratio;
    left: 49 * @ratio;
    top: 86 * @ratio;
  }
  .top-right-none {
    background-color: transparent;
    .radial-gradient(~"0 100%, ellipse", ~"at bottom left", ~"rgba(0,0,0,0) 70%,", @white, ~"0");
    width: 58 * @ratio;
    height: 62 * @ratio;
    left: 191 * @ratio;
    top: 86 * @ratio;
  }
  .apple-none {
    background-color: @white;
    .border-radius(100%);
    width: 83 * @ratio;
    height: 83 * @ratio;
    left: 209 * @ratio;
    top: 104 * @ratio;
  }
}

