{% extends "base.html" %}

{% block title %}
  Fantasy
{% endblock %}

{% block body %}
  <div class="clearfix" style="width: 960px; margin: 40px auto;">
    Filter by:
    <br/><div class="tab" pos="ALL">All</div><div class="tab" pos="C">Center</div><div class="tab" pos="L">LeftWing</div><div class="tab" pos="R">RightWing</div><div class="tab" pos="D">Defence</div><div class="tab" pos="G">Goalie</div>
    <br/><br/>
    <div id="all">
      {% for index, p in players | enumerate %}
        <div class="player" pos="{{p.get('pos')}}">{{index+1}} - {{p.get('name', 'unknown')}} ({{p.get('pos', 'N/A')}})</div>
      {% endfor %}
    </div>

    <br/><br/>
    Notes:
    <br/>
    - Get 1 goalie before round 5
    <br/>
    - Don't worry too much about positions - always draft best player available
    <br/>
    - Get a second goalie by round 15
    <br/>
    - Have fun
    <br/><br/>
  </div>
{% endblock %}
