{% extends "./html/base.html" %}
{% import "./html/header.html" as header %}
{% import "./html/footer.html" as footer %}
{% import "./html/social.html" as social %}

{% block head %}
  {{ header.meta(title="Animated Gameboy in CSS", url="http://bchanx.com/animated-gameboy-in-css", responsive="true", notscalable="true") }}

  <meta property="og:url" content="http://www.bchanx.com/animated-gameboy-in-css"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Animated Gameboy in CSS"/>
  <meta property="og:description" content="Hover or tap for a behind-the-scenes reveal."/>
  <meta property="og:image" content="http://www.bchanx.com/static/images/gameboy/animated-gameboy-in-css.png"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bchanx">
  <meta name="twitter:creator" content="@bchanx">
  <meta name="twitter:title" content="Animated Gameboy in CSS">
  <meta name="twitter:description" content="Hover or tap for a behind-the-scenes reveal.">
  <meta name="twitter:image" content="http://www.bchanx.com/static/images/gameboy/animated-gameboy-in-css.png">
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/dist/css/animated-gameboy-in-css-demo{{min}}.css"/>
{% endblock %}

{% block body %}
  <div id="container">
    <div id="title">
      <div>Animated Gameboy in CSS</div>
      <div class="small">(Tested in Chrome 45+, Firefox 41+, Safari 8+, Opera 32+)</div>
    </div>
    <div id="main">
      <div id="gameboy" class="green">
        <div id="canvas"></div>
        <div id="border"></div>
        <div id="border-top"></div>
        <div id="border-left"></div>
        <div id="border-bottom"></div>
        <div id="border-right"></div>
        <div id="screw-small-right" class="screw small"></div>
        <div id="screw-small-left" class="screw small"></div>
        <div id="screw-large-right" class="screw large"></div>
        <div id="screw-large-left" class="screw large"></div>
        <div id="backboard"></div>
        <div id="motherboard"></div>
        <div id="motherboard-capacitors" class="capacitors"></div>
        <div id="chip-short" class="chip"></div>
        <div id="chip-diagonal" class="chip"></div>
        <div id="chip-tall" class="chip"></div>
        <div id="chip-capacitors" class="capacitors"></div>
        <div id="contrast-knob"></div>
        <div id="link-port"></div>
        <div id="circuit-bottom" class="circuit"></div>
        <div id="circuit-top" class="circuit"></div>
        <div id="transistors"></div>
        <div id="processor"></div>
        <div id="component"></div>
        <div id="controller"></div>
        <div id="speaker"></div>
        <div id="whitescreen"></div>
        <div id="glass"></div>
        <div id="glass-gameboy-text">GAME BOY</div>
        <div id="glass-color-text">C</div>
        <div id="screen"></div>
        <div id="screen-gameboy-text">GAME BOY</div>
        <div id="screen-nintendo-text">Nintendo</div>
        <div id="joystick-pad"></div>
        <div id="joystick">.</div>
        <div id="control"></div>
        <div id="control-b" class="control-button">B</div>
        <div id="control-a" class="control-button">A</div>
        <div id="start-select-box"></div>
        <div id="start-select-button"></div>
        <div id="cover-vertical"></div>
        <div id="cover-horizontal"></div>
        <div id="gloss"></div>
        <div id="speaker-holes"></div>
        <div id="power"></div>
      </div>
      <div id="colors">
        <span>Colors:</span>
        <div class="color" data-color="red"></div>
        <div class="color" data-color="purple"></div>
        <div class="color" data-color="green"></div>
        <div class="color" data-color="yellow"></div>
        <div class="color" data-color="teal"></div>
        <div class="color" data-color="transparent"></div>
      </div>
    </div>
    <div id="links">
      <div class="content">
        <div class="link">
          <a href="/animated-gameboy-in-css-blog">Read blog</a>
        </div>
        <div class="link or">or</div>
        <div class="link">
          <a href="https://github.com/bchanx/animated-gameboy-in-css">Checkout the code</a>
        </div>
        <div id="social">
          <div class="fb">{{ social.facebook("http://www.bchanx.com/animated-gameboy-in-css") }}</div>
          <div class="twtr">{{ social.twitter(size="large") }}</div>
          <div class="gthb">{{ social.githubStar("bchanx", "animated-gameboy-in-css", size="large") }}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="comments">{{ social.disqus("animated-gameboy-in-css", "Animated Gameboy in  CSS", "http://www.bchanx.com/animated-gameboy-in-css") }}</div>
  <div id="love">Built with love.</div>
  {{ social.githubScript() }}
{% endblock %}

{% block footer %}
  <div id="footer">
    {{ footer.blog() }}
  </div>
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var colors = ['red', 'purple', 'green', 'yellow', 'teal', 'transparent'];
      var last = null;
      Array.prototype.slice.call(document.querySelectorAll('.color')).forEach(function(el) {
        el.addEventListener('click', function() {
          if (last) {
            last.classList.remove('active');
          }
          var color = el.getAttribute('data-color');
          var gameboy = document.querySelector('#gameboy');
          gameboy.style.opacity = 0;
          gameboy.classList.remove(gameboy.classList[0]);
          var clone = gameboy.cloneNode(true);
          gameboy.remove();
          clone.classList.add(color);
          clone.style.opacity = 1;
          var colors = document.querySelector('#colors');
          colors.parentNode.insertBefore(clone, colors);
          el.classList.add('active');
          last = el;
        });
      });

      document.querySelector('.color[data-color="green"]').dispatchEvent(new MouseEvent('click', {
        'view': window,
        'bubbles': true
      }));
    });
  </script>
{% endblock %}
