{% import 'logo.html' as logo %}

{% macro links() -%}
<div id="footer-links">
  <div class="icon">
    <a href="https://www.twitter.com/bchanx">{{ logo.twitter('small') }}</a>
  </div>
  <div class="icon">
    <a href="https://www.github.com/bchanx">{{ logo.github('small') }}</a>
  </div>
  <div class="icon">
    <a href="https://www.linkedin.com/in/bchanx">{{ logo.linkedin('small') }}</a>
  </div>
</div>
{%- endmacro %}

{% macro blog() -%}
<div id="blog-footer-container">
  {{ links() }}
  <div id="footer-copyright">&copy; 2013 <a href="http://bchanx.com">Brian Chan</a></div>
</div>
{%- endmacro %}

