{% import 'logo.html' as logo %}

{% macro meta(title="bchanx", url="", responsive="") -%}
  <title>{{ title }}</title>
  {% if url %}<link rel="canonical" href="{{ url }}"/>{% endif %}
  {% if responsive %}<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">{% endif %}
{%- endmacro %}

{% macro render(name) -%}
<div id="header-container">
  <div id="header-logo">
    <a href="/">
      {{ logo.bchanx("medium") }}
      {{ logo.bchanx("small") }}
    </a>
  </div>
  <div id="header-content" class="themeable">
    {{ name }}
  </div>
</div>
{%- endmacro %}
