{% extends "base.html" %}
{% import 'logo.html' as logo %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}

{% block head %}
  {{ header.meta("bchanx", responsive="true") }}
{% endblock %}

{% block body %}
  <div id="bchanx">
    <div id="banner">
      <div id="bchanx-logo">{{ logo.bchanx() }}</div>
      <div id="bchanx-text">bchanx</div>
    </div>
    <div class="line-break"></div>
    <div id="projects">
      <a href="/slidr">slidr.js</a>
      <br/>
      <a href="/logos-in-pure-css-demo">Logos in Pure CSS</a>
      <br/>
      <a href="/jukebox">Jukebox</a>
    </div>
    {{ footer.links() }}
  </div>
{% endblock %}

