{% extends "base.html" %}
{% import 'logo.html' as logo %}

{% block body %}
  <div id="bchanx">
    <div id="banner">
      {{ logo.bchanx('medium') }}
      bchanx
    </div>
    <div id="projects">
      <a href="/jukebox">Jukebox</a>
<!--      <br/>
      <a href="/logos-in-pure-css">Logos in Pure CSS</a>-->
    </div>
    <div id="links">
      <div class="icon">
        <a href="https://www.twitter.com/bchanx">{{ logo.twitter('small') }}</a>
      </div>
      <div class="icon">
        <a href="https://www.github.com/bchanx">{{ logo.github('small') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
