{% extends "base.html" %}
{% block body %}
  <h1 style="text-align: center">Jukebox</h1>
  <div id="video-player">
    <iframe id="video-src" width="560" height="315" frameborder="0" src="" allowfullscreen></iframe>
    <div id="video-controls">
      <div id="play">Play</div>
      <div id="stop">Stop</div>
      <div id="next">Next</div>
      <div id="shuffle">Shuffle</div>
    </div>
  </div>
<!--  <form action="/jukebox/add" method="POST" style="border: 1px black solid; width: 300px; padding: 10px; margin: 0 auto">
    <input type="text" id="videourl" name="videourl"/>
    <input type="submit" value="Add"/>
  </form> -->
{% endblock %}
