{% extends "base.html" %}
{% import "header.html" as header %}

{% block head %}
  <script type="text/javascript">bchanx.googleApiKey = "{{ googleApiKey }}";</script>
  {{ header.meta("Jukebox") }}
{% endblock %}

{% block header %}
  {{ header.render("") }}
{% endblock %}

{% block body %}
  <div id="jukebox-container">
    <div id="jukebox">
      <div id="playlists-container" data-slidr="playlists">
        <div id="playlists"></div>
      </div>
      <div id="video-container" data-slidr="video">
        <div id="video-player">
          <iframe id="video-src" type="text/html" frameborder="0" src="" mozallowfullscreen webkitallowfullscreen></iframe>
          <div id="video-src-none">Playlist is empty.</div>
        </div>
        <div id="video-settings">
          <div id="video-controls">
            <div id="play">Play</div>
            <div id="pause">Pause</div>
            <div id="prev">Prev</div>
            <div id="next">Next</div>
            <div id="repeat" class="off">Repeat</div>
            <div id="shuffle">Shuffle</div>
            <div id="playlist" class="show">Playlist</div>
          </div>
          <div id="video-playing-info">
            <div id="video-title"></div>
            <div id="video-length"></div>
          </div>
          <div id="video-playlist">
            <table id="video-table">
              <thead>
                <tr>
                  <th scope="col" class="track">Track</th>
                  <th scope="col" class="length">Length</th>
                </tr>
              </thead>
            </table>
          </div>
          {% if settings["debug"] %}
            <form id="playlist-create" action="{{ url_for('playlistCreate') }}" method="POST">
              <input type="text" id="playlist-title" name="playlist-title" placeholder="title"/>
              <input type="radio" name="playlist-state" value="0" checked/>Public
              <input type="radio" name="playlist-state" value="-1"/>Private
              <input type="submit" value="Create"/>
            </form>
          {% endif %}
        </div>
      </div>
      <div id="about-container" data-slidr="about">
        <div id="about">
          &copy; 2013-2014
          <br/><a href="https://www.twitter.com/bchanx">@bchANx</a>
        </div>
      </div>
    </div>
  </div>
  <div id="search-container">
    <div id="search-icon" class="css-icons"><div class="search"></div></div>
    <div id="search">
      <input id="search-box" type="text" placeholder="Search..."/>
      <div class="search-results"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/static/dist/hmac-md5.js"></script>
  {% if env['type'] == 'prod' %}
    <script type="text/javascript" src="/static/dist/slidr.min.js"></script>
  {% endif %}
{% endblock %}

