{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block body %}
  <h1 style="text-align: center">Jukebox</h1>
  <div id="video-player">
    <iframe id="video-src" frameborder="0" src="" allowfullscreen></iframe>
    <div id="video-src-none">Playlist is empty.</div>
    <div id="video-controls">
      <div id="play">Play</div>
      <div id="stop">Stop</div>
      <div id="next">Next</div>
      <div id="shuffle">Shuffle</div>
    </div>
  </div>
  <form id="video-add" action="/jukebox/add" method="POST">
    <input type="text" id="url" name="url"/>
    <input type="submit" value="Add"/>
  </form>
{% endblock %}
