{% macro bchanx(size) -%}
<div class="logo-bchanx-{{ size }}">
  <div class="logo-content themeable">
    <div class="logo-text"><div class="logo-b"></div></div>
    <div class="logo-pic"><img src="/static/images/profile-medium.jpg"/></div>
  </div>
</div>
{%- endmacro %}

{% macro twitter(size) -%}
<div id="logo-twitter-{{ size }}">
  <div class="body"></div>
  <div class="body-none"></div>
  <div class="beak-bottom"></div>
  <div class="beak-bottom-none"></div>
  <div class="wing-bottom"></div>
  <div class="wing-bottom-none"></div>
  <div class="wing-middle"></div>
  <div class="wing-middle-none"></div>
  <div class="wing-top"></div>
  <div class="wing-top-none"></div>
  <div class="beak-top"></div>
  <div class="beak-top-none"></div>
  <div class="head"></div>
</div>
{%- endmacro %}

{% macro github(size) -%}
<div id="logo-github-{{ size }}">
  <div class="ear-one-left"></div>
  <div class="ear-one-none"></div>
  <div class="ear-one-right"></div>
  <div class="ear-two-right"></div>
  <div class="ear-two-none"></div>
  <div class="ear-two-left"></div>
  <div class="body-bottom"></div>
  <div class="body-left-none"></div>
  <div class="body-right-none"></div>
  <div class="tail-end"></div>
  <div class="tail-tip-none"></div>
  <div class="tail-body"></div>
  <div class="tail-body-spots"></div>
  <div class="tail-end-none"></div>
  <div class="tail-body-none"></div>
  <div class="tail-tip"></div>
  <div class="body-left"></div>
  <div class="body-right"></div>
  <div class="head"></div>
  <div class="chin-left"></div>
  <div class="chin-right"></div>
</div>
{%- endmacro %}

{% macro facebook(size) -%}
<div id="logo-facebook-{{ size }}">
  <div class="longpiece"></div>
  <div class="longpiece-none"></div>
  <div class="shortpiece"></div>
  <div class="shortpiece-none"></div>
</div>
{%- endmacro %}

{% macro linkedin(size) -%}
<div id="logo-linkedin-{{ size }}">
  <div class="i-dot"></div>
  <div class="i-body"></div>
  <div class="n-body"></div>
  <div class="n-curve"></div>
  <div class="n-curve-none"></div>
</div>
{%- endmacro %}

{% macro evernote(size) -%}
<div id="logo-evernote-{{ size }}">
  <div class="head"></div>
  <div class="head-top"></div>
  <div class="head-right"></div>
  <div class="head-bottom"></div>
  <div class="trunk-right"></div>
  <div class="trunk-bottom"></div>
  <div class="trunk-left"></div>
  <div class="trunk-bottom-none"></div>
  <div class="trunk-right-none"></div>
  <div class="trunk-left-none"></div>
  <div class="head-none"></div>
  <div class="eye"></div>
  <div class="ear-flap"></div>
  <div class="ear-flap-left-none"></div>
  <div class="ear-flap-right-none"></div>
  <div class="body-top"></div>
  <div class="body-left"></div>
  <div class="body-bottom-right"></div>
  <div class="body-bottom-left"></div>
  <div class="body-bottom"></div>
  <div class="body-middle"></div>
  <div class="body"></div>
  <div class="ear-curve-none"></div>
  <div class="ear-curve"></div>
</div>
{%- endmacro %}

{% macro dropbox(size) -%}
<div id="logo-dropbox-{{ size }}">
  <div class="base-left"></div>
  <div class="base-right"></div>
  <div class="cover-left-none"></div>
  <div class="cover-right-none"></div>
  <div class="cover-top"></div>
  <div class="cover-right"></div>
  <div class="cover-bottom"></div>
  <div class="cover-left"></div>
  <div class="box-none"></div>
</div>
{%- endmacro %}

{% macro apple(size) -%}
<div id="logo-apple-{{ size }}">

</div>
{%- endmacro %}
