#glass-color-text {
  color: #ff0151;
  position: absolute;
  top: -26px;
  left: -45px;
  font-family: 'Comic Sans', 'Comic Sans MS', 'ChalkboardSE-Bold', sans-serif, cursive;
  font-size: 35px;
  letter-spacing: -2px;
  font-weight: 700;
  -webkit-animation: glass-color-text 3s infinite linear;
  animation: glass-color-text 3s infinite linear;
}
#glass-color-text::before {
  content: "L";
  position: absolute;
  left: 18px;
  top: 17px;
  line-height: 5px;
  text-indent: 13px;
  color: #85e367;
  border: 5px #5151dd solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: glass-color-text-before 3s infinite linear;
  animation: glass-color-text-before 3s infinite linear;
}
#glass-color-text::after {
  content: "R";
  position: absolute;
  left: 48px;
  top: 17px;
  line-height: 5px;
  text-indent: 13px;
  color: #01b4dd;
  border: 5px #f9e52e solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation: glass-color-text-after 3s infinite linear;
  animation: glass-color-text-after 3s infinite linear;
}
@keyframes glass-color-text {
  0% {
    color: transparent;
  }
  32% {
    color: transparent;
  }
  36% {
    color: #ff0151;
  }
}
@keyframes glass-color-text-before {
  0% {
    color: transparent;
    border-color: transparent;
  }
  36% {
    border-color: transparent;
  }
  40% {
    color: transparent;
    border-color: #5151dd;
  }
  42% {
    color: #85e367;
  }
}
@keyframes glass-color-text-after {
  0% {
    color: transparent;
    border-color: transparent;
  }
  42% {
    border-color: transparent;
  }
  46% {
    color: transparent;
    border-color: #f9e52e;
  }
  50% {
    color: #01b4dd;
  }
}
