<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"/>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>

  <body ontouchstart>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31899968-1']);
      _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>
  </body>
</html>

