{% import './logo.html' as logo %}

{% macro links() %}
<div id="footer-links">
  <div class="icon">
    <a href="https://www.twitter.com/bchanx">{{ logo.twitter('small') }}</a>
  </div>
  <div class="icon">
    <a href="https://www.github.com/bchanx">{{ logo.github('small') }}</a>
  </div>
  <div class="icon">
    <a href="https://www.linkedin.com/in/bchanx">{{ logo.linkedin('small') }}</a>
  </div>
</div>
{% endmacro %}

{% macro icons() %}
{% block css %}
  <link rel="stylesheet" href="/static/dist/css/lib/ionicons.min.css"/>
{% endblock %}
<div id="footer-icons">
  <a href="https://www.twitter.com/bchanx" class="ion ion-social-twitter"></a>
  <a href="https://www.instagram.com/bchanx" class="ion ion-social-instagram"></a>
  <a href="https://www.github.com/bchanx" class="ion ion-social-github"></a>
  <a href="https://www.linkedin.com/bchanx" class="ion ion-social-linkedin"></a>
</div>
{% endmacro %}

{% macro blog() %}
<div id="blog-footer-container">
  {{ icons() }}
  <div id="footer-copyright">&copy; 2017 <a href="/">bchanx</a></div>
</div>
{% endmacro %}

