<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/cestlacreme.ico"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700"/>
    {% for css in settings["css"] %}
      <link rel="stylesheet" href="{{ css }}" media="screen" charset="UTF-8" type="{{ 'text/less' if css.endswith('.less') else 'text/css' }}"/>
    {% endfor %}
  </head>

  <body>
    hello world!!

    {% for js in settings["js"] %}
      <script type="text/javascript" charset="UTF-8" src="{{ js }}"></script>
    {% endfor %}
  </body>
</html>
