<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>bchanx</title>
    <link rel="shorcut icon" href={{ url_for("static", filename="favicon.ico") }}/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700)"/>
    {% for css in settings["css"] %}
      <link rel="stylesheet" href="{{ css }}" media="screen" title="no title" charset="UTF-8"
            type="{{ 'text/less' if css.endswith('.less') else 'text/css' }}"/>
    {% endfor %}
  </head>

  <body>
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="body">{% block body %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" charset="utf-8"></script>

    <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-31899968-1']); _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
    </script>

    {% for js in settings["js"] %}
      <script type="text/javascript" charset="UTF-8" src="{{ js }}"></script>
    {% endfor %}

  </body>
</html>

