#joystick-top {
  left: -10px;
  bottom: 0;
  -webkit-animation: joystick 3s infinite linear, joystick-top-bottom 3s infinite linear;
  animation: joystick 3s infinite linear, joystick-top-bottom 3s infinite linear;
}
#joystick-bottom {
  -webkit-transform: rotate(180deg) translateZ(0);
  transform: rotate(180deg) translateZ(0);
  left: -10px;
  top: 0;
  -webkit-animation: joystick 3s infinite linear, joystick-top-bottom 3s infinite linear;
  animation: joystick 3s infinite linear, joystick-top-bottom 3s infinite linear;
}
#joystick-left {
  -webkit-transform: rotate(-90deg) translateZ(0);
  transform: rotate(-90deg) translateZ(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  right: -10px;
  bottom: 0;
  -webkit-animation: joystick 3s infinite linear, joystick-left 3s infinite linear;
  animation: joystick 3s infinite linear, joystick-left 3s infinite linear;
}
#joystick-right {
  -webkit-transform: rotate(90deg) translateZ(0);
  transform: rotate(90deg) translateZ(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  left: -10px;
  bottom: 0;
  -webkit-animation: joystick 3s infinite linear, joystick-right 3s infinite linear;
  animation: joystick 3s infinite linear, joystick-right 3s infinite linear;
}
.joystick {
  position: absolute;
  width: 20px;
  height: 35px;
  background-color: #303030;
  border-radius: 5px 5px 0 0;
  font-size: 9px;
  overflow: hidden;
}
.joystick::before {
  content: "";
  width: 61%;
  height: 36.28%;
  border-radius: 100%;
  background-color: #222222;
  position: absolute;
  left: 50%;
  margin-left: -30.5%;
  bottom: -18.14%;
}
.joystick::after {
  content: "";
  width: 0;
  height: 0;
  border-color: transparent;
  border-bottom-color: #222222;
  border-style: solid;
  font-size: inherit;
  border-width: 0 0.7em 1em 0.7em;
  top: 15%;
  left: 17.7%;
  position: absolute;
}
@keyframes joystick {
  0% {
    width: 0;
    height: 0;
    font-size: 0;
  }
  35% {
    width: 0;
    height: 0;
    font-size: 0;
  }
  50% {
    width: 20px;
    height: 35px;
    font-size: 9px;
  }
}
@keyframes joystick-top-bottom {
  0% {
    left: 0;
  }
  35% {
    left: 0;
  }
  50% {
    left: -10px;
  }
}
@keyframes joystick-left {
  0% {
    right: 0;
  }
  35% {
    right: 0;
  }
  50% {
    right: -10px;
  }
}
@keyframes joystick-right {
  0% {
    left: 0;
  }
  35% {
    left: 0;
  }
  50% {
    left: -10px;
  }
}
