{% extends "base.html" %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% import "social.html" as social %}

{% block head %}
  {{ header.meta("Animated Gameboy in CSS", "http://bchanx.com/animated-gameboy-in-css", "true") }}
  <link rel="stylesheet" type="text/css" href="/static/dist/highlight.css"/>
  <meta property="og:url" content="http://www.bchanx.com/animated-gameboy-in-css"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Animated Gameboy in CSS"/>
  <meta property="og:description" content="Hover or tap for a behind-the-scenes reveal."/>
  <meta property="og:image" content="http://www.bchanx.com/static/images/gameboy/animated-gameboy-in-css.png"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bchanx">
  <meta name="twitter:creator" content="@bchanx">
  <meta name="twitter:title" content="Animated Gameboy in CSS">
  <meta name="twitter:description" content="Hover or tap for a behind-the-scenes reveal.">
  <meta name="twitter:image" content="http://www.bchanx.com/static/images/gameboy/animated-gameboy-in-css.png">
{% endblock %}

{% block body %}
  <div id="container">
    <div class="header" data-date="October 22nd, 2015">Animated Gameboy in CSS</div>

    <div class="break"></div>

    <div class="content">
      <div class="gameboy-gif-small"></div>
      <div class="foreword">
        This is the technical blog post. <a href="/animated-gameboy-in-css">Click here</a> to see the actual demo.
        <br>
        <br>
        Credit to <a href="https://twitter.com/brentclouse" target="_blank">@brentclouse</a> for the <a href="https://dribbble.com/shots/1376791-Game-Boy-Color-GIF" target="_blank">original</a> inspiration.
      </div>
    </div>

    <div class="break"></div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;Drawing with CSS is all about knowing what properties and techniques are available for you to leverage and abuse. The more complex the picture or animation, the more rules you'll have to bend in order to make it work.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;With the CSS specifications being so diverse, there are many ways to arrive at a certain desired effect. Being able to do it in as little code as possible is key to elegance and performance. Therefore, for this project I set myself a constraint to use as few <span class="highlight">&lt;div&gt;</span>'s as possible, and instead rely as much as I could on native styling.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;Below, I share five techniques that I've learned and used for doodling in CSS.
    </div>

    <div class="break"></div>

    <div class="title-bar">
      1. Make use of letters and fonts for shapes and objects
    </div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;Fonts provide a range of characters and that we can leverage to create interesting shapes and edges. <span class="highlight">font-size</span>, <span class="highlight">text-shadow</span>, and <span class="highlight">letter-spacing</span> are amongst several animatable properties that can style letters. Together, they can be used to create intricate patterns not possible (or extremely difficult) with regular CSS techniques. The legs in the processor chip are actually just a string of "<span style="font-weight:700">l</span>"'s that have been rotated!
      <div class="example">
        <div class="demo">
          <div class="demo-wrapper">
            <div id="processor"></div>
          </div>
        </div>
        <div class="code">
          <pre><code class="html">{{ code.processor.html }}</code></pre>
          <pre><code class="css">{{ code.processor.css }}</code></pre>
        </div>
      </div>
    </div>

    <div class="break"></div>

    <div class="title-bar">
      2. Animating text with a linear-gradient <span class="placeholder">(webkit only, with fallback)</span>
    </div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;Currently, only webkit browsers have CSS support for creating text with a linear gradient fill. In short, it involves setting a <span class="highlight">linear-gradient</span> on your element background, while applying <span class="highlight">-webkit-background-clip: text</span> to mask away the non text background, and finally using <span class="highlight">-webkit-text-fill-color: transparent</span> to let the gradient become the font-color.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;Since webkit properties only work on selected browsers, the above technique will cause non webkit vendors to degrade and leave behind text on a undesireable <span class="linear-gradient-example">linear gradient background</span>.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;However, thanks to this <a href="http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html">clever trick</a>, the issue can be avoided by using <span class="highlight">-webkit-linear-gradient</span> to force a gradient background in webkit browsers only, using <span class="highlight">color</span> as a cross browser fallback. From here, you can animate the gradient by using <span class="highlight">background-position</span> to achieve the desired text effect, and animate <span class="highlight">color</span> for non supporting browsers.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;Here's how it compares between browsers:
      <br>
      <br>
      <div class="gameboy-text-example">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;webkit:
        <div class="gameboy-text-webkit"></div>
      </div>
      <div class="gameboy-text-example">
        non-webkit:
        <div class="gameboy-text-other"></div>
      </div>
      <div class="example">
        <div class="demo">
          <div class="demo-wrapper">
            <div id="screen-gameboy-text">GAME BOY</div>
          </div>
        </div>
        <div class="code">
          <pre><code class="html">{{ code.text.html }}</code></pre>
          <pre><code class="css">{{ code.text.css }}</code></pre>
        </div>
      </div>
    </div>

    <div class="break"></div>

    <div class="title-bar">
      3. Thinking outside the box with ::pseudo elements
    </div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;Pseudo elements <span class="highlight">::before</span> and <span class="highlight">::after</span> offer two additional elements in the DOM. The advantages of using them include minimizing HTML code, where each of them can be individually styled and animated, while tightly coupling themselves to the parent root, making the positioning of the entire grouping much easier to handle.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;Animating the <span class="color-text"><span class="red">c</span><span class="purple">o</span><span class="green">l</span><span class="yellow">o</span><span class="teal">r</span></span> text was a very interesting challenge. On one hand, I could easily create separate <span class="highlight">&lt;div&gt;</span>'s for each letter, set their own individual colors, then animate them one by one. However, under the original constraint I set of minimizing the usage of <span class="highlight">&lt;div&gt;</span>'s, I looked for alternate ways to make this happen. But, even by using pseudo elements, it would only provide three animatable objects in total, not five. Was it possible to achieve this effect by using just a <b>single</b> element?
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;... Yes it was. Don't let anything stop you from being creative and coming up with new ways of solving old problems. Exploit the rules of CSS beyond their intentions, and let pseudo elements further that exploration.
      <div class="example">
        <div class="demo">
          <div class="demo-wrapper">
            <div id="glass-color-text">C</div>
          </div>
        </div>
        <div class="code">
          <pre><code class="html">{{ code.color.html }}</code></pre>
          <pre><code class="css">{{ code.color.css }}</code></pre>
        </div>
      </div>
    </div>

    <div class="break"></div>

    <div class="title-bar">
      4. Drawing circles and squares
    </div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;You can "draw" circles and squares using a single <span class="highlight">div</span> by masking the element inset border with it's own pseudo elements, then shrinking their width and height to reveal the drawing path. This one is fairly straight forward to learn and similarly easy to apply. The only caveat is that it will only work on top of a monochrome background, otherwise the effect is lost.
      <div class="example">
        <div class="demo">
          <div class="demo-wrapper">
            <div id="circle"></div>
            <div id="square"></div>
          </div>
        </div>
        <div class="code">
          <pre><code class="html">{{ code.shapes.html }}</code></pre>
          <pre><code class="css">{{ code.shapes.css }}</code></pre>
        </div>
      </div>
    </div>

    <div class="break"></div>

    <div class="title-bar">
      5. Managing repetition using box-shadow <span class="placeholder">(and similarly, text-shadow)</span>
    </div>
  
    <div class="content">
      &nbsp;&nbsp;&nbsp;<span class="highlight">box-shadow</span>'s are quite limited in how they can be styled, but prove quite useful when dealing with repetition. Since they always take the shape of the parent element, simple monochrome shapes can be cloned infinitely by extending and repositioning the shadow effect.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;You can extend this further by managing the shadow offsets to create cool fill effects. Keep in mind that the shadows reflect the parent element, so the parent must be made available in the DOM first before the shadows are visible. This likely means that the parent must be animated first, with the shadows initially hidden by an offset so they can show at a delayed frame of time.
      <div class="example">
        <div class="demo">
          <div class="demo-wrapper" style="width: 200px; height: 50px; overflow: hidden">
            <div id="cover-vertical"></div>
          </div>
        </div>
        <div class="code">
          <pre><code class="html">{{ code.cover.html }}</code></pre>
          <pre><code class="css">{{ code.cover.css }}</code></pre>
        </div>
      </div>
    </div>

    <div class="break"></div>

    <div class="content">
      &nbsp;&nbsp;&nbsp;Drawing with CSS is a very tedious task of eyeballing positions and tweaking element properties, in order to achieve that pixel perfect curve. There's no shortcuts or automated tools (yet) to help generate CSS for intricate drawings loaded with animations.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;... But not that there ever needs to be. From a <b>Time Spent</b> vs <b>Outcome</b> perspective, drawing with CSS is definitely unfavorable compared to traditional (and digital) pen and paper methods. Hours of work spent tweaking and tweening CSS can easily be replicated in swift minutes using photoshop or other similar means.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;That being said, learning and drawing with CSS allows you the opportunity to dive deep and explore the vast specification that defines most of what we see on the web. It gives you a chance to familiarize yourself with existing properties, invoke discoveries of undiscovered rules, and surprise yourself with bleeding edge features that you had no idea existed. This knowledge is invaluable for achieving desirable UX and meeting design expectations in a quick and performant manner, whether you're building a production scale web app or tinkering a personal web tool.
      <br>
      <br>
      &nbsp;&nbsp;&nbsp;All in all, do what you love, and never stop learning.
    </div>

    <div class="break"></div>

    <div class="social">
      <div class="fb">{{ social.facebook("http://www.bchanx.com/animated-gameboy-in-css") }}</div>
      <div class="twtr">{{ social.twitter(size="large") }}</div>
      <div class="gthb">{{ social.githubStar("bchanx", "animated-gameboy-in-css", size="large") }}</div>
      {{ social.githubScript() }}
    </div>

    <div class="comments">{{ social.disqus("animated-gameboy-in-css", "Animated Gameboy in CSS", "http://www.bchanx.com/animated-gameboy-in-css") }}</div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer.blog() }}
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/static/dist/highlight.min.js"></script>
{% endblock script %}
