doctype html
html
  head
    title bchanx
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no")

    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600")
    block css
    block js

  body
    block content
    block scripts

    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31899968-1']);
      _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); 
      
