{% extends "base.html" %}
{% import 'header.html' as header %}
{% import 'logo.html' as logo %}

{% block header %}
  {{ header.render('Logos In Pure CSS', 'small') }}
{% endblock %}

{% block body %}
  <div id="blog-container" class="container clearfix">
    <div class="block demo">
      Some well known company logos created in pure CSS.
      <br/>
      Hover over the icons for a behind-the-scenes reveal and comparison.
      <br/>
      <span class="subtext">(Tested on Chrome 26.0.1410, Safari 5.1.7, Firefox 11.0 & 20.0.1, IE 9.0.8)</span>
      <br/><br/>
      <strong>Blog:</strong> <a href="/logos-in-pure-css">Logos In Pure CSS</a>
    </div>
    <div class="line-break"></div>
  </div>
  <div id="logos-in-pure-css">
    <div class="logo-block">
      <div class="title">Twitter</div>
      <div class="logos">
        <div class="actual"><div id="logo-twitter-actual"></div></div><div class="css">{{ logo.twitter('large') }}</div></div>
    </div>
    <div class="logo-block">
      <div class="title">Github</div>
      <div class="logos">
        <div class="actual"><div id="logo-github-actual"></div></div><div class="css">{{ logo.github('large') }}</div>
      </div>
    </div>
    <div class="logo-block">
      <div class="title">Facebook</div>
      <div class="logos">
        <div class="actual"><div id="logo-facebook-actual"></div></div><div class="css">{{ logo.facebook('large') }}</div>
      </div>
    </div>
  </div>
{% endblock %}
