{% extends "base.html" %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% import "logo.html" as logo %}
{% import "social.html" as social %}

{% block head %}
  {{ header.meta("Logos In Pure CSS", "http://www.bchanx.com/logos-in-pure-css-demo", "true") }}
{% endblock %}

{% block header %}
  {{ header.render("Logos In Pure CSS") }}
{% endblock %}

{% block body %}
  <div class="blog-container clearfix">
    <div class="block demo">
      Company logos created in pure CSS.
      <br/>
      Hover or tap over the icons for a behind-the-scenes reveal.
      <br/>
      <span class="subtext">(Tested on Chrome 26.0, Safari 5.1.7, Firefox 20.0, and IE 10.0)</span>
    </div>
    <div class="line-break"></div>
  </div>
  <div id="logos-in-pure-css">
    <div class="logo-block">
      <div class="title">Twitter</div>
      <div class="logos">
        <div id="twitter-actual" class="actual"></div><div class="css">{{ logo.twitter('large') }}</div>
      </div>
    </div>
    <div class="logo-block">
      <div class="title">Github</div>
      <div class="logos">
        <div id="github-actual" class="actual"></div><div class="css">{{ logo.github('large') }}</div>
      </div>
    </div>
    <div class="logo-block">
      <div class="title">Evernote</div>
      <div class="logos">
        <div id="evernote-actual" class="actual"></div><div class="css">{{ logo.evernote('large') }}</div>
      </div>
    </div>
    <div class="logo-block">
      <div class="title">Dropbox</div>
      <div class="logos">
        <div id="dropbox-actual" class="actual"></div><div class="css">{{ logo.dropbox('large') }}</div>
      </div>
    </div>
    <div class="logo-block">
      <div class="title">Apple</div>
      <div class="logos">
        <div id="apple-actual" class="actual"></div><div class="css">{{ logo.apple('large') }}</div>
      </div>
    </div>
  </div>
  <div class="blog-container clearfix">
    <div class="block demo">
      <a href="/logos-in-pure-css"><strong>Read blog</strong></a>
      <br/>or<br/>
      <a href="https://github.com/bchanx/logos-in-pure-css"><strong>Checkout the code</strong></a>
    </div>
    <div class="block twitter">{{ social.twitter() }}</div>
    <div class="block disqus">{{ social.disqus("logos-in-pure-css", "Logos in Pure CSS", "http://www.bchanx.com/logos-in-pure-css") }}</div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer.blog() }}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var fetchLogos = function() {
      if (window.outerWidth >= 640 || window.outerWidth == 0) {
        var logos = ["twitter", "github", "evernote", "dropbox", "apple"];
        var current;
        for (var i = 0; current = logos[i]; i++) {
          var element = document.getElementById(current + "-actual");
          if (element) {
            element.innerHTML = '<div class="logo-' + current + '-actual"></div>';
          }
        }
        window.onresize = null;
        return true;
      }
      return false;
    }
    if (!fetchLogos()) {
      window.onresize = fetchLogos;
    }
  </script>
{% endblock %}
