{% extends "base.html" %}
{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% import "logo.html" as logo %}
{% import "social.html" as social %}

{% block head %}
  {{ header.meta("slidr.js", "http://www.bchanx.com/slidr", "true") }}
  <link rel="stylesheet" type="text/css" href="/static/dist/highlight.css"/>
  <link rel="stylesheet" type="text/css" href="/static/dist/markdown.css"/>
{% endblock %}

{% block header %}
  {{ header.render("slidr.js") }}
{% endblock %}

{% block body %}
  <a href="https://github.com/bchanx/slidr">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
         alt="Fork me on GitHub">
  </a>

  <div class="blog-container clearfix">
    <div id="slidr">
      <div class="slidr-home" data-slidr="home">
        <div class="block demo">
          Add some slide effects.
          <br><br>
          <b>slidr.js</b> is a simple, lightweight javascript library for adding slide transitions to your page. No dependencies required.
          <br><br>
          Check out the demo below, or read the <a href="#docs">documentation</a>.
        </div>
        <div class="block">
          <div id="slidr-demo">
            <div class="demo-slide one" data-slidr="one">one</div>
            <div class="demo-slide two" data-slidr="two">two</div>
            <div class="demo-slide three" data-slidr="three">three</div>
            <div class="demo-slide four" data-slidr="four">four</div>
            <div class="demo-slide five" data-slidr="five">five</div>
            <div class="demo-slide six" data-slidr="six">six</div>
            <div class="demo-slide seven" data-slidr="seven">seven</div>
            <div class="demo-slide eight" data-slidr="eight">eight</div>
          </div>
        </div>
        <div class="block" style="text-align: center">
          <div class="random effect button">random</div>
          <div class="cube effect button">cube</div>
          <div class="linear effect button">linear</div>
          <div class="fade effect button">fade</div>
          <div class="none effect button">none</div>
        </div>
        <div class="block" style="text-align: center">
          <div class="controls settings button" data-meta="border">controls</div>
          <div class="breadcrumbs settings button" data-meta="on">breadcrumbs</div>
          <div class="auto settings button off" data-meta="off">auto</div>
        </div>
        <div class="block demo">
          <br>
          Works on any inline, inline-block or block elements.
          <br>
          Slides can contain any html content, no restrictions.*
          <br>
          <span class="subtext">(Tested on Chrome 26.0, Firefox 20.0, Safari 5.1.7, IE 10, Opera 16.0. Limited support for IE9.)</span>
          <br><br>
          <span class="subtext2">*the goal, not a guarantee.</span>
          <br><br>
          Built with love.
        </div>
      </div>
      <div class="slidr-docs" data-slidr="docs">
        <div class="block">
          <a href="#home">Home</a>
        </div>      
        <div class="block">
          <div class="markdown" id="instructions">
## Instructions
Include either `slidr.js` or `slidr.min.js` somewhere at the bottom of your html page, after the body content.

```javascript
<script type="text/javascript" src="/static/dist/slidr.min.js"></script>
```
          </div>
          <div class="markdown" id="html">
--------
## HTML
slidr works on any `inline`, `inline-block` or `block` elements with an `id` defined.
Valid slides include any first-level children elements with the `data-slidr` attribute set to some unique value within the parent scope. For example:

```html
<ul id="slidr-ul" style="display: inline">
  <li data-slidr="one">apple</li>
  <li data-slidr="two">banana</li>
  <li data-slidr="three">coconut</li>
</ul>

<div id="slidr-img" style="display: inline-block">
  <img data-slidr="one" src="/static/images/apple.png"/>
  <img data-slidr="two" src="/static/images/banana.png"/>
  <img data-slidr="three" src="/static/images/coconut.png"/>
</div>

<div id="slidr-div" style="dislay: block">
  <div data-slidr="one">apple</div>
  <div data-slidr="two">banana</div>
  <div data-slidr="three">coconut</div>
</div>
```

are all valid html markup for creating three different slidr's within the same page. (inline elements are transformed into inline-blocks in order to apply transitions).
          </div>

          <div class="example" style="position: relative; width: 100%; height: 100px">
            <ul id="slidr-ul" style="display: inline">
              <li data-slidr="one">apple</li>
              <li data-slidr="two">banana</li>
              <li data-slidr="three">coconut</li>
            </ul>

            <div id="slidr-img" style="display: inline-block">
              <img data-slidr="one" src="/static/images/apple.png"/>
              <img data-slidr="two" src="/static/images/banana.png"/>
              <img data-slidr="three" src="/static/images/coconut.png"/>
            </div>

            <div id="slidr-div" style="display: block">
              <div data-slidr="one">apple</div>
              <div data-slidr="two">banana</div>
              <div data-slidr="three">coconut</div>
            </div>
          </div>

          <div class="markdown" id="javascript">
------------
## Javascript
A global `slidr` object is available for calling. The most minimal way of creating a slidr is this:

```javascript
slidr.create('slidr-demo').start();
```

The call to `create()` finds the element with `id="slidr-demo"`, applies the default settings, then returns a `Slidr` object.
The call to `start()` converts all children elements with the `data-slidr` attribute set into slides.
The first element found is assumed as the starting slide.

Default settings will apply a `linear` transition effect in the `horizontal` direction, with a `fade` between slides
and the overflow `hidden`. Slide controls are shown along the `border` using a white `#fff` theme.
Finally, the Slidr element is faded into the document.

`create()` accepts various settings in its second parameter. A call with all the settings toggled looks like so:

```javascript
slidr.create('slidr-demo', {
  'breadcrumbs': true,
  'controls': 'corner',
  'direction': 'vertical',
  'fade': false,
  'overflow': true,
  'theme': '#222',
  'transition': 'cube'
}).start();
```
          </div>
          <div class="markdown" id="settings">
------------
## Settings
Full details on available settings listed below:

| Parameter     | Type    | Default      | Description                                                                   |
| ------------- |:-------:|:------------:| -----------------------------------------------------------------------------:|
| `breadcrumbs` | bool    | `false`      | Show or hide breadcrumbs on start(). `true` or `false`.                       |
| `controls`    | string  | `border`     | Show or hide control arrows on start(). `border`, `corner` or `none`.         |
| `direction`   | string  | `horizontal` | The default direction for new slides. `horizontal` or `h`, `vertical` or `v`. |
| `fade`        | bool    | `true`       | Whether slide transitions should fade in/out. `true` or `false`.              |
| `overflow`    | bool    | `false`      | Whether to overflow transitions at slidr borders. `true` or `false`.          |
| `theme`       | string  | `#fff`       | Sets color theme for breadcrumbs/controls. `#hexcode` or `rgba(value)`.       |
| `transition`  | string  | `linear`     | The default transition to apply. `cube`, `linear`, `fade`, or `none`.         |
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer.blog() }}
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/static/dist/highlight.min.js"></script>
  <script type="text/javascript" src="/static/dist/marked.js"></script>
  {% if env['type'] == 'prod' %}
    <script type="text/javascript" src="/static/dist/slidr.min.js"></script>
  {% endif %}
{% endblock script %}
