.order-summary
  padding: 20px
  border: 2px $orange-light solid
  border-radius: 3px
  text-align: right
  position: relative
  &.success
    border-color: $green
    .order-total
      color: $green

.order-icon
  position: absolute
  font-size: 2rem
  left: 20px
  top: 10px
  .ion-spoon
    padding-left: 1px

.order-title
  .warning
    color: $red

.order-item
  margin-top: 5px

.order-price
  margin-left 20px

.order-total
  color: $orange
  margin-top: 10px
  padding-top: 10px
  border-top: 1px $gray3 solid
  font-size: 1.4rem
  position: relative

.order-warning
  position: absolute
  left: 0
  bottom: 3px
  .note
    color: $red
    font-size: 0.8rem

