.nav-social
  font-size: 30px
  text-align: right
  flex-shrink: 0
  margin-top: 10px
  .ion-icon
    margin-left: 20px

@media screen and (max-width: $app-full)
  .nav-social
    margin-top: 0
    font-size: 3vw
    a
      line-height: 38px

@media screen and (max-width: $app-medium)
  .nav-social
    font-size: 18px
