@import 'colors'
@import 'base'

html
  background-color: $gray1
  color: $orange

.container
  text-align: center
  display: flex
  flex-direction: column
  min-height: 300px
  margin: 0 auto
  height: 100%
  align-self: center
  justify-content: center
  background-image: url('/cestlacreme/images/brulee.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  background-attachment: fixed

.banner
  font-weight: 300
  font-size: 80px
  margin-top: -50px

.social
  font-size: 30px
  .ion-icon
    margin: 0 10px

a,
a:link,
a:visited,
a:active,
a:focus
  color: $gray3
  font-weight: 400
  text-decoration: none

a:hover
  color: $gray1
