// Copyright 2013 Brian Chan (bchanx@gmail.com).  All Rights Reserved.

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

//////////////////// COLORSPACE
@green: #7CE69C;
@darkgreen: #64A377;

@white: #ffffff;
@palegray: #f8f8f8;
@lightgray: #f0f0f0;
@gray: #808080;
@darkgray: #303030;
@black: #000000;


//////////////////// RESET
html {
  height: 100%;
  background-color: @white;
  overfloy-y: scroll;
}

body, textarea, input {
  font: 400 13px 'Oxygen', sans-serif;
  color: @green;
}

